{% comment %} Variables  {% endcomment %}
{% assign settings = section.settings %}
<style>
    {% comment %}
    Render heading & body font family
{% endcomment %}
{%- if settings.override_font != blank -%}
    {%- capture font_settings_list -%}
        {{ settings.heading_font | font_face: font_display: 'swap' }};;
        {{ settings.heading_font | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }};;
        {{ settings.heading_font | font_modify: 'style', 'italic' | font_face: font_display: 'swap' }};;
        {{ settings.heading_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}
        {{ settings.body_font | font_face: font_display: 'swap' }};;
        {{ settings.body_font | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }};;
        {{ settings.body_font | font_modify: 'style', 'italic' | font_face: font_display: 'swap' }};;
        {{ settings.body_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }};;
        {{ settings.hightlight_font | font_face: font_display: 'swap' }};;
        {{ settings.hightlight_font | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }};;
        {{ settings.hightlight_font | font_modify: 'style', 'italic' | font_face: font_display: 'swap' }};;
        {{ settings.hightlight_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }};;
    {%- endcapture -%}
    {%- assign font_array = font_settings_list | split: ';;' -%}
{% endif %}
{%- if settings.override_font != blank -%}
    {%- for font in font_array -%}
        {%- unless font contains 'error' -%}
            {{ font }}{%- endunless -%}
    {%- endfor -%}
    #sp-{{ section.id }} {
    --sp-heading-font-family: {{ settings.heading_font.family }},{{ settings.heading_font.fallback_families }};
    --sp-heading-font-weight: {{ settings.heading_font.weight }};
    --sp-heading-font-style: {{ settings.heading_font.style }};
    --sp-body-font-family: {{ settings.body_font.family }},{{ settings.body_font.fallback_families }};
    --sp-body-font-weight: {{ settings.body_font.weight }};
    --sp-body-font-style: {{ settings.body_font.style }};
    --sp-highlight-font-family: {{ settings.highlight_font.family }},{{ settings.highlight_font.fallback_families }};
    --sp-highlight-font-weight: {{ settings.highlight_font.weight }};
    --sp-highlight-font-style: {{ settings.highlight_font.style }};
    }
    {% if custom_selector != blank %}
        {{ custom_selector }} {
        --sp-heading-font-family: {{ settings.heading_font.family }},{{ settings.heading_font.fallback_families }};
        --sp-heading-font-weight: {{ settings.heading_font.weight }};
        --sp-heading-font-style: {{ settings.heading_font.style }};
        --sp-body-font-family: {{ settings.body_font.family }},{{ settings.body_font.fallback_families }};
        --sp-body-font-weight: {{ settings.body_font.weight }};
        --sp-body-font-style: {{ settings.body_font.style }};
        --sp-highlight-font-family: {{ settings.highlight_font.family }},{{ settings.highlight_font.fallback_families }};
        --sp-highlight-font-weight: {{ settings.highlight_font.weight }};
        --sp-highlight-font-style: {{ settings.highlight_font.style }};
        }
    {% endif %}
{% endif %}
    {% comment %}
    Render padding section, heading content max width
{% endcomment %}

    #sp-{{ section.id }} .sp-section {
    {% if settings.section_top_padding_mobile and  settings.section_bottom_padding_mobile %}
        --sp-section-top-padding: {{ settings.section_top_padding_mobile | divided_by: 10.0 | round: 0 }}rem;
        --sp-section-bottom-padding: {{ settings.section_bottom_padding_mobile | divided_by: 10.0 | round: 0 }}rem;
    {% else %}
        --sp-section-top-padding: {{ settings.section_top_padding | divided_by: 10.0 | times: 0.5 | round: 0 }}rem;
        --sp-section-bottom-padding: {{ settings.section_bottom_padding | divided_by: 10.0 | times: 0.5 | round: 0 }}rem;
    {% endif %}
        }

    @media (min-width: 768px) {
        #sp-{{ section.id }} .sp-section {
            --sp-section-top-padding: {{ settings.section_top_padding | divided_by: 10.0 | times: 0.7 | round: 0 }}rem;
            --sp-section-bottom-padding: {{ settings.section_bottom_padding | divided_by: 10.0 | times: 0.7 | round: 0 }}rem;
        }
    }

    @media (min-width: 1260px) {
        #sp-{{ section.id }} .sp-section {
            --sp-section-top-padding: {{ settings.section_top_padding | divided_by: 10.0 | round: 0 }}rem;
            --sp-section-bottom-padding: {{ settings.section_bottom_padding | divided_by: 10.0 | round: 0 }}rem;
        }
    }


    #sp-{{ section.id }} {
        --sp-section-background-color: {{ settings.section_background_color | default: "transparent" }};
        --sp-section-background-gradient-color: {{ settings.section_background_gradient_color | default: null }};
        --sp-section-background-overlay-color: {{ settings.section_background_overlay_color | default: null }};
        --sp-section-text-color: {{ settings.section_text_color | default: "transparent" }};
    }

    #sp-{{ section.id }} .sp-heading-wrapper {
        --sp-section-heading-width: 0rem;
        max-width: var(--sp-section-heading-width);
    }

    #sp-{{ section.id }} .sp-logo-list-items {
        --sp-log-max-width: 150px;
        --sp-logo-ratio: {{ settings.item_ratio | default: 1 }};
        --sp-logo-border-radius: {{ settings.border_radius | default: 0 }}px;
        --sp-logo-border-width: {{ settings.border_size | default: 0 }}px;

        --sp-logo-background-color: {{ settings.logo_item_background_color | default: "transparent" }};
        --sp-logo-background-gradient-color: {{ settings.logo_item_background_gradient_color | default: null }};
        --sp-logo-border-color: {{ settings.logo_item_border_color | default: "transparent" }};
        --sp-logo-box-shadow-color: {{ settings.logo_item_shadow_color | default: "transparent" }};
    }

    {% assign heading_settings = section.settings %}
    {% assign heading_selector = section.id | prepend: "#sp-" | append: " .sp-logo-list-item .sp-content-wrapper" %}
    
    {{ heading_selector }} {
        --sp-section-heading-size: {{ heading_settings.heading_size_mobile }}px;
        --sp-section-description-size: {{ heading_settings.description_size_mobile }}px;
        --sp-heading-letter-spacing: {{ heading_settings.text_heading_spacing | default: 0 }}px;
        --sp-heading-spacing-scale: {{ heading_settings.heading_spacing_scale | divided_by: 100.0 | times: 0.6 }};

    }
    @media (min-width: 768px) {
        {{ heading_selector }} {
            --sp-heading-spacing-scale: {{ heading_settings.heading_spacing_scale | divided_by: 100.0 | times: 0.8 }};
            --sp-section-heading-size: {{ heading_settings.heading_size_desktop | times: 0.8 }}px;
            --sp-section-description-size: max({{ heading_settings.description_size_desktop | times: 0.8 }}px, {{ heading_settings.description_size_mobile }}px);
        }
    }

    @media (min-width: 1200px) {
        {{ heading_selector }} {
            --sp-heading-spacing-scale: {{ heading_settings.heading_spacing_scale | divided_by: 100.0 }};
            --sp-section-heading-size: {{ heading_settings.heading_size_desktop }}px;
            --sp-section-description-size: {{ heading_settings.description_size_desktop }}px;
        }
    }


    #sp-{{ section.id }} .sp-logo-list-items .sp-content-wrapper {
        --sp-section-text-color: {{ settings.logo_item_text_color | default: "transparent" }};
    }

    #sp-{{ section.id }} .sp-button-wrapper {
        --sp-button-background-color: {{ settings.button_background_color | default: "transparent" }};
        --sp-button-background-gradient-color: {{ settings.button_background_gradient_color | default: null }};
        --sp-button-text-color: {{ settings.button_text_color | default: "transparent" }};
    }

</style>
<div id="sp-{{ section.id }}" class="sp-{{ section.id }} sp-section-logo-list-1" data-section="logo-list-1"
     data-variant="variant-2">
    <div class="sp-section-outer">
        <div class="sp-image-wrapper">
            {% if settings.background_image != null %}
                <img class="sp-image"
                     src="{{ settings.background_image | image_url: width: 1920 }}"
                     alt="{{ settings.background_image.alt | default: "" }}">
            {% endif %}
            {% if settings.background_image_mobile != null %}
                <img class="sp-image sp-image-mobile"
                     src="{{ settings.background_image_mobile | image_url: width: 1920 }}"
                     alt="{{ settings.background_image_mobile.alt | default: "" }}">
            {% endif %}
        </div>
        <div class="sp-section"
             data-border="{{ settings.section_border }}">
            <div class="{% case settings.section_width %}{% when 'boxed' %}sp-container{% when 'full_width' %}sp-container-fluid{% else %}sp-container-fluid sp-container-no-gap{% endcase %}">
                <div class="sp-section-inner" data-lazy="sp-{% if settings.lazy_load %}lazy-section{% endif %}"
                     data-cascade>
                    {% assign heading_block = section.blocks | where: 'type', 'heading_item' %}
                    {% for block in heading_block %}
                        {% assign setting = block.settings %}
                        <style>
                            {% assign heading_settings = block.settings %}
                            {% assign heading_selector = section.id | prepend:"#sp-" | append:" .sp-heading-wrapper" %}
                            
    {{ heading_selector }} {
        --sp-section-heading-size: {{ heading_settings.heading_size_mobile }}px;
        --sp-section-description-size: {{ heading_settings.description_size_mobile }}px;
        --sp-heading-letter-spacing: {{ heading_settings.text_heading_spacing | default: 0 }}px;
        --sp-heading-spacing-scale: {{ heading_settings.heading_spacing_scale | divided_by: 100.0 | times: 0.6 }};

    }
    @media (min-width: 768px) {
        {{ heading_selector }} {
            --sp-heading-spacing-scale: {{ heading_settings.heading_spacing_scale | divided_by: 100.0 | times: 0.8 }};
            --sp-section-heading-size: {{ heading_settings.heading_size_desktop | times: 0.8 }}px;
            --sp-section-description-size: max({{ heading_settings.description_size_desktop | times: 0.8 }}px, {{ heading_settings.description_size_mobile }}px);
        }
    }

    @media (min-width: 1200px) {
        {{ heading_selector }} {
            --sp-heading-spacing-scale: {{ heading_settings.heading_spacing_scale | divided_by: 100.0 }};
            --sp-section-heading-size: {{ heading_settings.heading_size_desktop }}px;
            --sp-section-description-size: {{ heading_settings.description_size_desktop }}px;
        }
    }

                        </style>
                        <div class="sp-heading-outer {{ setting.heading_position }}" {{ block.shopify_attributes }}>
                            <div class="sp-heading-wrapper"
                                 style="--sp-section-heading-width: {{ setting.heading_max_width | divided_by: 10.0 }}rem">
                                {% if setting.sub_heading != blank %}
                                    <h5 class="sp-sub-heading {{ setting.sub_heading_size | default: "sp-sub-heading-size-medium" }}">{{ setting.sub_heading }}</h5>
                                {% endif %}
                                {% if setting.heading != blank %}
                                    <h2 class="sp-heading">{{ setting.heading }}</h2>
                                {% endif %}
                                {% if setting.description != blank and setting.description != '<p></p>' %}
                                    <div class="sp-description">{{ setting.description }}</div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    {% for block in section.blocks offset: 1 limit: 1 %}
                        {% if block.type == 'button_item' %}
                            {% assign setting = block.settings %}
                            {% if setting.button_text != blank %}
                                {% assign button_selector = section.id | append: " .sp-button-wrapper .sp-button" | prepend: "#sp-" %}
                                {% assign button_settings = block.settings %}
                                <style>
                                    {% comment %}
    Render button style variables
    Pass button selector to apply
{% endcomment %}
{{ button_selector }}{
    --sp-button-border-width:{{ button_settings.button_border_width | append:"px" }};
    --sp-button-radius: {{ button_settings.button_radius | append:"px" }};
    --sp-button-text-spacing: {{ button_settings.button_text_spacing | append:"px" }};
    --sp-button-scale: {{ button_settings.button_scale_mobile | divided_by: 100.0 }};
    {% if button_settings.button_scale_mobile >= 100 %}
        --sp-button-font-scale: {{ button_settings.button_scale_mobile | minus: 100.0 | divided_by: 2 | plus: 100 | divided_by: 100.0 }};
    {% endif %}
    {% if button_settings.button_scale_mobile < 100 %}
        --sp-button-font-scale: {{ 100.0 | minus: button_settings.button_scale_mobile | divided_by: 2 | plus: button_settings.button_scale_mobile | divided_by: 100.0 }};
    {% endif %}
}
@media(min-width: 992px){
    {{ button_selector }}{
        --sp-button-scale: {{ button_settings.button_scale | divided_by: 100.0 }};
        {% if button_settings.button_scale >= 100 %}
            --sp-button-font-scale: {{ button_settings.button_scale | minus: 100.0 | divided_by: 2 | plus: 100 | divided_by: 100.0 }};
        {% endif %}
        {% if button_settings.button_scale < 100 %}
            --sp-button-font-scale: {{ 100.0 | minus: button_settings.button_scale | divided_by: 2 | plus: button_settings.button_scale | divided_by: 100.0 }};
        {% endif %}
    }
}
                                </style>
                                <div class="sp-button-wrapper" {{ block.shopify_attributes }}
                                     data-alignment="{{ settings.item_content_alignment }}">
                                    <a {% if setting.button_link == blank %} aria-disabled="true" {% else %}
                                        href="{{ setting.button_link }}" {% endif %}
                                            class="sp-button {{ setting.button_style | default: "sp-button-link" }}"
                                            data-button-hover="{{ settings.button_hover }}">{{ setting.button_text }}</a>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <div class="sp-logo-list-items sp-column-wrapper"
                         data-lazy="sp-{% if settings.lazy_load %}lazy-section{% endif %}"
                         data-cascade
                         data-column="{{ settings.item_per_row_desktop }}"
                         data-column-tablet="{{ settings.item_per_row_tablet }}"
                         data-column-mobile="{{ settings.item_per_row_mobile }}"
                         data-column-size="{{ settings.grid_spacing }}"
                         data-alignment="{{ settings.item_content_alignment }}">
                        {% for block in section.blocks %}
                            {% assign setting = block.settings %}
                            {% if block.type == 'logo_item' %}
                                <style>
                                    #sp-{{ section.id }} .sp-logo-list-items #sp-{{ block.id }}.sp-logo-list-item {
                                        --sp-log-max-width: {{ setting.logo_max_width }}px;
                                    }
                                </style>
                                <div class="sp-column">
                                    <div id="sp-{{ block.id }}"
                                         class="sp-logo-list-item" data-box-shadow="{{ settings.box_shadow }}"
                                         data-item-hover="{{ settings.hover_item }}" {{ block.shopify_attributes }}>
                                        <a {% if setting.logo_link == blank %} aria-disabled="true" data-cursor="none" {% else %}
                                            href="{{ setting.logo_link }}" {% endif %}>
                                            <div class="sp-logo-image-wrapper">
                                                {% if setting.logo_image != null %}
                                                    {% if settings.lazy_load %}
                                                        <img class="sp-image lazy"
                                                             src=""
                                                             data-src="{{ setting.logo_image | image_url: width: 1920 }}"
                                                             alt="{{ setting.logo_image.alt | default: "" }}">
                                                    {% else %}
                                                        {{ setting.logo_image | image_url: width: 1920 | image_tag: class: 'sp-image' }}
                                                    {% endif %}
                                                {% else %}
                                                    {{ 'image' | placeholder_svg_tag: "sp-placeholder-image-gray-100" }}
                                                {% endif %}
                                            </div>
                                        </a>
                                        <div class="sp-logo-list-detail {{ settings.content_position }}">
                                            {% if setting.hide_content == false %}
                                                <div class="sp-content-wrapper {{ settings.content_alignment }}"
                                                     data-max-width>
                                                    {% if setting.sub_heading != blank %}
                                                        <h5 class="sp-sub-heading {{ settings.sub_heading_size | default: "sp-sub-heading-size-medium" }}">{{ setting.sub_heading }}</h5>
                                                    {% endif %}
                                                    {% if setting.heading != blank %}
                                                        <h2 class="sp-heading">
                                                            <a {% if setting.logo_link == blank %} aria-disabled="true" data-cursor="none" {% else %}
                                                                href="{{ setting.logo_link }}" {% endif %}>{{ setting.heading }}</a>
                                                        </h2>
                                                    {% endif %}
                                                    {% if setting.description != blank and setting.description != '<p></p>' %}
                                                        <div class="sp-description">{{ setting.description }}</div>
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% assign blocks = section.blocks | reverse %}
                    {% for block in blocks limit: 1 %}
                        {% if block.type == 'button_item' %}
                            {% assign setting = block.settings %}
                            {% if setting.button_text != blank %}
                                {% assign button_selector = section.id | append: " .sp-button-wrapper .sp-button" | prepend: "#sp-" %}
                                {% assign button_settings = block.settings %}
                                <style>
                                    {% comment %}
    Render button style variables
    Pass button selector to apply
{% endcomment %}
{{ button_selector }}{
    --sp-button-border-width:{{ button_settings.button_border_width | append:"px" }};
    --sp-button-radius: {{ button_settings.button_radius | append:"px" }};
    --sp-button-text-spacing: {{ button_settings.button_text_spacing | append:"px" }};
    --sp-button-scale: {{ button_settings.button_scale_mobile | divided_by: 100.0 }};
    {% if button_settings.button_scale_mobile >= 100 %}
        --sp-button-font-scale: {{ button_settings.button_scale_mobile | minus: 100.0 | divided_by: 2 | plus: 100 | divided_by: 100.0 }};
    {% endif %}
    {% if button_settings.button_scale_mobile < 100 %}
        --sp-button-font-scale: {{ 100.0 | minus: button_settings.button_scale_mobile | divided_by: 2 | plus: button_settings.button_scale_mobile | divided_by: 100.0 }};
    {% endif %}
}
@media(min-width: 992px){
    {{ button_selector }}{
        --sp-button-scale: {{ button_settings.button_scale | divided_by: 100.0 }};
        {% if button_settings.button_scale >= 100 %}
            --sp-button-font-scale: {{ button_settings.button_scale | minus: 100.0 | divided_by: 2 | plus: 100 | divided_by: 100.0 }};
        {% endif %}
        {% if button_settings.button_scale < 100 %}
            --sp-button-font-scale: {{ 100.0 | minus: button_settings.button_scale | divided_by: 2 | plus: button_settings.button_scale | divided_by: 100.0 }};
        {% endif %}
    }
}
                                </style>
                                <div class="sp-button-wrapper" {{ block.shopify_attributes }}
                                     data-alignment="{{ settings.item_content_alignment }}">
                                    <a {% if setting.button_link == blank %} aria-disabled="true" {% else %}
                                        href="{{ setting.button_link }}" {% endif %}
                                            class="sp-button {{ setting.button_style | default: "sp-button-link" }}"
                                            data-button-hover="{{ settings.button_hover }}">{{ setting.button_text }}</a>
                                </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
{
	"name": "🧩 Logo list 1.2",
	"tag": "section",
	"class": "sp-logo-list-1",
	"settings": [
		{
			"type": "header",
			"content": "Logo list settings"
		},
		{
			"type": "select",
			"id": "item_per_row_desktop",
			"label": "Items per row (Desktop)",
			"options": [
				{
					"label": "2",
					"value": "2"
				},
				{
					"label": "3",
					"value": "3"
				},
				{
					"label": "4",
					"value": "4"
				},
				{
					"label": "5",
					"value": "5"
				},
				{
					"label": "6",
					"value": "6"
				}
			],
			"default": "5"
		},
		{
			"type": "select",
			"id": "item_per_row_tablet",
			"label": "Items per row (Tablet)",
			"options": [
				{
					"label": "2",
					"value": "2"
				},
				{
					"label": "3",
					"value": "3"
				},
				{
					"label": "4",
					"value": "4"
				}
			],
			"default": "3"
		},
		{
			"type": "select",
			"id": "item_per_row_mobile",
			"label": "Items per row (Mobile)",
			"options": [
				{
					"label": "1",
					"value": "1"
				},
				{
					"label": "2",
					"value": "2"
				}
			],
			"default": "2"
		},
		{
			"type": "select",
			"id": "grid_spacing",
			"label": "Space between grid",
			"options": [
				{
					"label": "Default",
					"value": ""
				},
				{
					"label": "No Gap",
					"value": "sp-column-spacing-none"
				},
				{
					"label": "Small",
					"value": "sp-column-spacing-small"
				},
				{
					"label": "Medium",
					"value": "sp-column-spacing-medium"
				},
				{
					"label": "Large",
					"value": "sp-column-spacing-large"
				}
			],
			"default": ""
		},
		{
			"type": "select",
			"id": "item_content_alignment",
			"label": "Items alignment",
			"default": "center",
			"options": [
				{
					"label": "Left",
					"value": "left"
				},
				{
					"label": "Center",
					"value": "center"
				},
				{
					"label": "Right",
					"value": "right"
				}
			]
		},
		{
			"type": "range",
			"id": "item_ratio",
			"min": 0.3,
			"max": 2.5,
			"step": 0.1,
			"default": 2,
			"unit": ":1",
			"label": "Items ratio"
		},
		{
			"type": "range",
			"id": "border_radius",
			"min": 0,
			"max": 60,
			"step": 1,
			"unit": "px",
			"label": "Item border radius",
			"default": 60
		},
		{
			"type": "range",
			"id": "border_size",
			"min": 0,
			"max": 10,
			"step": 1,
			"unit": "px",
			"label": "Item border size",
			"default": 1
		},
		{
			"type": "checkbox",
			"id": "box_shadow",
			"label": "Box shadow",
			"default": false
		},
		{
			"type": "header",
			"content": "Background section"
		},
		{
			"type": "image_picker",
			"id": "background_image",
			"label": "Image (Desktop)"
		},
		{
			"type": "image_picker",
			"id": "background_image_mobile",
			"label": "Image (Mobile)"
		},
		{
			"type": "header",
			"content": "Content item settings"
		},
		{
			"type": "select",
			"id": "content_alignment",
			"label": "Content alignment",
			"default": "sp-content-text-center",
			"options": [
				{
					"label": "Left",
					"value": "sp-content-text-left"
				},
				{
					"label": "Center",
					"value": "sp-content-text-center"
				},
				{
					"label": "Right",
					"value": "sp-content-text-right"
				}
			]
		},
		{
			"type": "select",
			"id": "sub_heading_size",
			"label": "Sub heading size",
			"options": [
				{
					"label": "Small",
					"value": "sp-sub-heading-size-small"
				},
				{
					"label": "Medium",
					"value": "sp-sub-heading-size-medium"
				},
				{
					"label": "Large",
					"value": "sp-sub-heading-size-large"
				}
			],
			"default": "sp-sub-heading-size-medium"
		},
		{
			"type": "range",
			"id": "heading_size_desktop",
			"min": 18,
			"max": 86,
			"step": 1,
			"unit": "px",
			"label": "Heading size (Desktop)",
			"default": 24
		},
		{
			"type": "range",
			"id": "heading_size_mobile",
			"min": 18,
			"max": 86,
			"step": 1,
			"unit": "px",
			"label": "Heading size (Mobile)",
			"default": 18
		},
		{
			"type": "range",
			"id": "description_size_desktop",
			"min": 12,
			"max": 24,
			"step": 1,
			"unit": "px",
			"label": "Description size (Desktop)",
			"default": 14
		},
		{
			"type": "range",
			"id": "description_size_mobile",
			"min": 12,
			"max": 24,
			"step": 1,
			"unit": "px",
			"label": "Description size (Mobile)",
			"default": 14
		},
		{
			"type": "range",
			"id": "heading_spacing_scale",
			"min": 50,
			"max": 200,
			"step": 10,
			"unit": "%",
			"label": "Heading spacing scale",
			"default": 100
		},
		{
			"type": "range",
			"id": "text_heading_spacing",
			"min": -10,
			"max": 10,
			"step": 0.2,
			"unit": "px",
			"label": "Text heading letter spacing",
			"default": 0
		},
		{
			"type": "header",
			"content": "Section padding"
		},
		{
			"type": "select",
			"id": "section_width",
			"label": "Content section width",
			"default": "boxed",
			"options": [
				{
					"label": "Boxed",
					"value": "boxed"
				},
				{
					"label": "Full width",
					"value": "full_width"
				},
				{
					"label": "Full width no gap",
					"value": "full_width_no_gap"
				}
			]
		},
		{
			"type": "range",
			"id": "section_top_padding",
			"min": 0,
			"max": 150,
			"step": 10,
			"unit": "px",
			"label": "Top padding",
			"default": 100
		},
		{
			"type": "range",
			"id": "section_bottom_padding",
			"min": 0,
			"max": 150,
			"step": 10,
			"unit": "px",
			"label": "Bottom padding",
			"default": 100
		},
		{
			"type": "checkbox",
			"id": "section_border",
			"label": "Separate section with border",
			"default": false
		},
		{
			"type": "header",
			"content": "Effects"
		},
		{
			"type": "checkbox",
			"id": "lazy_load",
			"label": "Lazy load",
			"default": true
		},
		{
			"type": "select",
			"id": "hover_item",
			"label": "Hover items",
			"default": "fly",
			"options": [
				{
					"label": "Fly",
					"value": "fly"
				},
				{
					"label": "Zoom in",
					"value": "zoom-in"
				}
			]
		},
		{
			"type": "select",
			"id": "button_hover",
			"label": "Button hover",
			"options": [
				{
					"label": "None",
					"value": "none"
				},
				{
					"label": "Fly",
					"value": "fly"
				},
				{
					"label": "Opacity",
					"value": "opacity"
				}
			],
			"default": "none"
		},
		{
			"type": "header",
			"content": "Section color"
		},
		{
			"type": "color",
			"id": "section_background_color",
			"label": "Background",
			"default": "#FFF8E8"
		},
		{
			"type": "color_background",
			"id": "section_background_gradient_color",
			"label": "Background gradient",
			"info": "Background gradient replaces background where possible.",
			"default": "linear-gradient(180deg, #E3FFDA 0%, #B1B9FF 100%)"
		},
		{
			"type": "color",
			"id": "section_text_color",
			"label": "Text",
			"default": "#1e1e1e"
		},
		{
			"type": "color_background",
			"id": "section_background_overlay_color",
			"label": "Overlay"
		},
		{
			"type": "header",
			"content": "Logo item color"
		},
		{
			"type": "color",
			"id": "logo_item_background_color",
			"label": "Background",
			"default": "#FFF"
		},
		{
			"type": "color_background",
			"id": "logo_item_background_gradient_color",
			"label": "Background gradient",
			"info": "Background gradient replaces background where possible."
		},
		{
			"type": "color",
			"id": "logo_item_text_color",
			"label": "Text",
			"default": "#1e1e1e"
		},
		{
			"type": "color",
			"id": "logo_item_border_color",
			"label": "Border",
			"default": "#EBEBEB"
		},
		{
			"type": "color",
			"id": "logo_item_shadow_color",
			"label": "Shadow",
			"default": "#000000"
		},
		{
			"type": "header",
			"content": "Button color"
		},
		{
			"type": "color",
			"id": "button_background_color",
			"label": "Background",
			"default": "#1e1e1e"
		},
		{
			"type": "color_background",
			"id": "button_background_gradient_color",
			"label": "Background gradient"
		},
		{
			"type": "color",
			"id": "button_text_color",
			"label": "Text",
			"default": "#FFF"
		},
		{
			"type": "header",
			"content": "Typography"
		},
		{
			"type": "checkbox",
			"id": "override_font",
			"label": "Override fonts of the theme",
			"default": true,
			"info": "If you check this option, the fonts of the section will work"
		},
		{
			"type": "font_picker",
			"id": "heading_font",
			"label": "Heading font",
			"default": "futura_n4"
		},
		{
			"type": "font_picker",
			"id": "body_font",
			"label": "Body font",
			"default": "futura_n4"
		}
	],
	"blocks": [
		{
			"name": "Heading",
			"type": "heading_item",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "This block will always show the priority at the top"
				},
				{
					"type": "header",
					"content": "Section heading"
				},
				{
					"type": "inline_richtext",
					"id": "sub_heading",
					"label": "Subheading"
				},
				{
					"type": "inline_richtext",
					"id": "heading",
					"label": "Heading",
					"default": "PRODUCTS ARE TRUSTED BY BRANDS"
				},
				{
					"type": "richtext",
					"id": "description",
					"label": "Description",
					"default": "<p></p>"
				},
				{
					"type": "select",
					"id": "heading_position",
					"label": "Heading alignment",
					"options": [
						{
							"label": "Left",
							"value": "sp-heading-alignment-left"
						},
						{
							"label": "Center",
							"value": "sp-heading-alignment-center"
						},
						{
							"label": "Right",
							"value": "sp-heading-alignment-right"
						}
					],
					"default": "sp-heading-alignment-center"
				},
				{
					"type": "select",
					"id": "sub_heading_size",
					"label": "Sub heading size",
					"options": [
						{
							"label": "Small",
							"value": "sp-sub-heading-size-small"
						},
						{
							"label": "Medium",
							"value": "sp-sub-heading-size-medium"
						},
						{
							"label": "Large",
							"value": "sp-sub-heading-size-large"
						}
					],
					"default": "sp-sub-heading-size-medium"
				},
				{
					"type": "range",
					"id": "heading_size_desktop",
					"min": 18,
					"max": 86,
					"step": 1,
					"unit": "px",
					"label": "Heading size (Desktop)",
					"default": 24
				},
				{
					"type": "range",
					"id": "heading_size_mobile",
					"min": 18,
					"max": 86,
					"step": 1,
					"unit": "px",
					"label": "Heading size (Mobile)",
					"default": 18
				},
				{
					"type": "range",
					"id": "description_size_desktop",
					"min": 12,
					"max": 24,
					"step": 1,
					"unit": "px",
					"label": "Description size (Desktop)",
					"default": 16
				},
				{
					"type": "range",
					"id": "description_size_mobile",
					"min": 12,
					"max": 24,
					"step": 1,
					"unit": "px",
					"label": "Description size (Mobile)",
					"default": 16
				},
				{
					"type": "range",
					"id": "heading_spacing_scale",
					"min": 50,
					"max": 200,
					"step": 10,
					"unit": "%",
					"label": "Heading spacing scale",
					"default": 100
				},
				{
					"type": "range",
					"id": "text_heading_spacing",
					"min": -10,
					"max": 10,
					"step": 0.2,
					"unit": "px",
					"label": "Text heading letter spacing",
					"default": 2.4
				},
				{
					"type": "range",
					"id": "heading_max_width",
					"min": 300,
					"max": 950,
					"step": 10,
					"unit": "px",
					"label": "Heading max-width",
					"default": 650
				}
			]
		},
		{
			"name": "Logo",
			"type": "logo_item",
			"settings": [
				{
					"type": "image_picker",
					"id": "logo_image",
					"label": "Image/ icon"
				},
				{
					"type": "range",
					"id": "logo_max_width",
					"min": 100,
					"max": 300,
					"step": 2,
					"unit": "px",
					"label": "Logo max-width",
					"default": 150
				},
				{
					"type": "url",
					"id": "logo_link",
					"label": "Link"
				},
				{
					"type": "checkbox",
					"id": "hide_content",
					"label": "Hide content",
					"default": true
				},
				{
					"type": "header",
					"content": "Content"
				},
				{
					"type": "inline_richtext",
					"id": "sub_heading",
					"label": "Subheading",
					"default": "SUBHEADING"
				},
				{
					"type": "inline_richtext",
					"id": "heading",
					"label": "Heading",
					"default": "Logo name"
				},
				{
					"type": "richtext",
					"id": "description",
					"label": "Description",
					"default": "<p>Share information about your brand with your customers.</p>"
				}
			]
		},
		{
			"name": "Button",
			"type": "button_item",
			"limit": 1,
			"settings": [
				{
					"type": "paragraph",
					"content": "This block can be placed after the Heading block or in the last position"
				},
				{
					"type": "text",
					"id": "button_text",
					"label": "Button label",
					"info": "Leave the label blank to hide the button.",
					"default": "Button text"
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "Button link"
				},
				{
					"type": "select",
					"id": "button_style",
					"label": "Button style",
					"options": [
						{
							"label": "Button link",
							"value": "sp-button-link"
						},
						{
							"label": "Button fill",
							"value": "sp-button-fill"
						},
						{
							"label": "Button outline",
							"value": "sp-button-outline"
						}
					],
					"default": "sp-button-link"
				},
				{
					"type": "range",
					"id": "button_text_spacing",
					"min": -10,
					"max": 10,
					"step": 0.2,
					"unit": "px",
					"label": "Text button letter spacing",
					"default": 0
				},
				{
					"type": "range",
					"id": "button_scale",
					"min": 50,
					"max": 150,
					"step": 10,
					"unit": "%",
					"label": "Button scale (Desktop)",
					"default": 100
				},
				{
					"type": "range",
					"id": "button_scale_mobile",
					"min": 50,
					"max": 150,
					"step": 10,
					"unit": "%",
					"label": "Button scale (Mobile)",
					"default": 100
				},
				{
					"type": "range",
					"id": "button_radius",
					"min": 0,
					"max": 60,
					"step": 1,
					"unit": "px",
					"label": "Button border radius",
					"default": 40
				},
				{
					"type": "range",
					"id": "button_border_width",
					"min": 0.5,
					"max": 5,
					"step": 0.5,
					"unit": "px",
					"label": "Button border size",
					"default": 1
				}
			]
		}
	],
	"presets": [
		{
			"name": "🧩 Logo list 1.2",
			"settings": {
				"item_per_row_desktop": "5",
				"item_per_row_tablet": "3",
				"item_per_row_mobile": "2",
				"grid_spacing": "",
				"item_content_alignment": "center",
				"item_ratio": 2,
				"border_radius": 60,
				"border_size": 1,
				"box_shadow": false,
				"background_image": "",
				"background_image_mobile": "",
				"content_alignment": "sp-content-text-center",
				"sub_heading_size": "sp-sub-heading-size-medium",
				"heading_size_desktop": 24,
				"heading_size_mobile": 18,
				"description_size_desktop": 14,
				"description_size_mobile": 14,
				"heading_spacing_scale": 100,
				"text_heading_spacing": 0,
				"section_width": "boxed",
				"section_top_padding": 100,
				"section_bottom_padding": 100,
				"section_border": false,
				"lazy_load": true,
				"hover_item": "fly",
				"section_background_color": "#FFF8E8",
				"section_background_gradient_color": "linear-gradient(180deg, #E3FFDA 0%, #B1B9FF 100%)",
				"section_text_color": "#1e1e1e",
				"section_background_overlay_color": "",
				"logo_item_background_color": "#FFF",
				"logo_item_background_gradient_color": "",
				"logo_item_text_color": "#1e1e1e",
				"logo_item_border_color": "#EBEBEB",
				"logo_item_shadow_color": "#000000",
				"button_background_color": "#1e1e1e",
				"button_background_gradient_color": "",
				"button_text_color": "#FFF",
				"override_font": true,
				"heading_font": "futura_n4",
				"body_font": "futura_n4"
			},
			"blocks": [
				{
					"type": "heading_item",
					"settings": {
						"sub_heading": "",
						"heading": "PRODUCTS ARE TRUSTED BY BRANDS",
						"description": "<p></p>",
						"heading_position": "sp-heading-alignment-center",
						"sub_heading_size": "sp-sub-heading-size-medium",
						"heading_size_desktop": 24,
						"heading_size_mobile": 18,
						"description_size_desktop": 16,
						"description_size_mobile": 16,
						"heading_spacing_scale": 100,
						"text_heading_spacing": 2.4,
						"heading_max_width": 650
					}
				},
				{
					"type": "logo_item",
					"settings": {
						"logo_image": "shopify://shop_images/logo-list-1-variant-2-whatsapp-icon.svg",
						"logo_max_width": 150,
						"logo_link": "",
						"hide_content": true,
						"sub_heading": "SUBHEADING",
						"heading": "Logo name",
						"description": "<p>Share information about your brand with your customers.</p>"
					}
				},
				{
					"type": "logo_item",
					"settings": {
						"logo_image": "shopify://shop_images/logo-list-1-variant-2-discord-icon.svg",
						"logo_max_width": 150,
						"logo_link": "",
						"hide_content": true,
						"sub_heading": "SUBHEADING",
						"heading": "Logo name",
						"description": "<p>Share information about your brand with your customers.</p>"
					}
				},
				{
					"type": "logo_item",
					"settings": {
						"logo_image": "shopify://shop_images/logo-list-1-variant-2-spotify-icon.svg",
						"logo_max_width": 150,
						"logo_link": "",
						"hide_content": true,
						"sub_heading": "SUBHEADING",
						"heading": "Logo name",
						"description": "<p>Share information about your brand with your customers.</p>"
					}
				},
				{
					"type": "logo_item",
					"settings": {
						"logo_image": "shopify://shop_images/logo-list-1-variant-2-twitter-icon.svg",
						"logo_max_width": 150,
						"logo_link": "",
						"hide_content": true,
						"sub_heading": "SUBHEADING",
						"heading": "Logo name",
						"description": "<p>Share information about your brand with your customers.</p>"
					}
				},
				{
					"type": "logo_item",
					"settings": {
						"logo_image": "shopify://shop_images/logo-list-1-variant-2-dribble-icon.svg",
						"logo_max_width": 150,
						"logo_link": "",
						"hide_content": true,
						"sub_heading": "SUBHEADING",
						"heading": "Logo name",
						"description": "<p>Share information about your brand with your customers.</p>"
					}
				},
				{
					"type": "logo_item",
					"settings": {
						"logo_image": "shopify://shop_images/logo-list-1-variant-2-linkedin-icon.svg",
						"logo_max_width": 150,
						"logo_link": "",
						"hide_content": true,
						"sub_heading": "SUBHEADING",
						"heading": "Logo name",
						"description": "<p>Share information about your brand with your customers.</p>"
					}
				},
				{
					"type": "logo_item",
					"settings": {
						"logo_image": "shopify://shop_images/logo-list-1-variant-2-telegram-icon.svg",
						"logo_max_width": 150,
						"logo_link": "",
						"hide_content": true,
						"sub_heading": "SUBHEADING",
						"heading": "Logo name",
						"description": "<p>Share information about your brand with your customers.</p>"
					}
				},
				{
					"type": "logo_item",
					"settings": {
						"logo_image": "shopify://shop_images/logo-list-1-variant-2-ebay-icon.svg",
						"logo_max_width": 150,
						"logo_link": "",
						"hide_content": true,
						"sub_heading": "SUBHEADING",
						"heading": "Logo name",
						"description": "<p>Share information about your brand with your customers.</p>"
					}
				},
				{
					"type": "logo_item",
					"settings": {
						"logo_image": "shopify://shop_images/logo-list-1-variant-2-instagram-icon.svg",
						"logo_max_width": 150,
						"logo_link": "",
						"hide_content": true,
						"sub_heading": "SUBHEADING",
						"heading": "Logo name",
						"description": "<p>Share information about your brand with your customers.</p>"
					}
				}
			]
		}
	]
}
{% endschema %}

{% style %}
	#sp-{{section.id}} .sp-section-outer .sp-image-wrapper{background:var(--sp-section-background-color) var(--sp-section-background-gradient-color)}#sp-{{section.id}} .sp-section-outer .sp-image-wrapper:after{background:var(--sp-section-background-overlay-color)}#sp-{{section.id}} .sp-section-outer .sp-logo-list-items .sp-logo-list-item .sp-logo-image-wrapper{aspect-ratio:var(--sp-logo-ratio)/1;background-color:var(--sp-logo-background-color);background-image:var(--sp-logo-background-gradient-color);border-radius:var(--sp-logo-border-radius);border:var(--sp-logo-border-width) solid var(--sp-logo-border-color)}#sp-{{section.id}} .sp-section-outer .sp-logo-list-items .sp-logo-list-item .sp-logo-image-wrapper img,#sp-{{section.id}} .sp-section-outer .sp-logo-list-items .sp-logo-list-item .sp-logo-image-wrapper svg{max-width:var(--sp-log-max-width)}#sp-{{section.id}} .sp-section-outer .sp-logo-list-items .sp-logo-list-item .sp-logo-image-wrapper a:before{content:"";position:absolute;top:0;left:0;width:100%;height:100%;z-index:9}#sp-{{section.id}} .sp-section-outer .sp-logo-list-items .sp-logo-list-item .sp-logo-list-detail .sp-content-wrapper{--sp-content-max-width: 100%;--sp-content-spacing: 2rem}#sp-{{section.id}} .sp-section-outer .sp-logo-list-items .sp-logo-list-item .sp-logo-list-detail .sp-content-wrapper .sp-sub-heading a{text-decoration:none}#sp-{{section.id}} .sp-section-outer .sp-logo-list-items .sp-logo-list-item[data-box-shadow=true] .sp-logo-image-wrapper:before{border-radius:var(--sp-logo-border-radius);box-shadow:0 8px 30px 0 var(--sp-logo-box-shadow-color)}@media(max-width: 767px){#sp-{{section.id}}{--sp-margin-item: 3rem}#sp-{{section.id}} .sp-section-outer .sp-logo-list-items .sp-logo-list-item .sp-logo-list-detail .sp-content-wrapper{--sp-content-spacing: 1.6rem 1rem}}
{% endstyle %}
