{% comment %} Variables  {% endcomment %}
{% assign settings = section.settings %}
<style>
    {% comment %}
    Render heading & body font family
{% endcomment %}
{%- if settings.override_font != blank -%}
    {%- capture font_settings_list -%}
        {{ settings.heading_font | font_face: font_display: 'swap' }};;
        {{ settings.heading_font | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }};;
        {{ settings.heading_font | font_modify: 'style', 'italic' | font_face: font_display: 'swap' }};;
        {{ settings.heading_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}
        {{ settings.body_font | font_face: font_display: 'swap' }};;
        {{ settings.body_font | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }};;
        {{ settings.body_font | font_modify: 'style', 'italic' | font_face: font_display: 'swap' }};;
        {{ settings.body_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }};;
        {{ settings.hightlight_font | font_face: font_display: 'swap' }};;
        {{ settings.hightlight_font | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }};;
        {{ settings.hightlight_font | font_modify: 'style', 'italic' | font_face: font_display: 'swap' }};;
        {{ settings.hightlight_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }};;
    {%- endcapture -%}
    {%- assign font_array = font_settings_list | split: ';;' -%}
{% endif %}
{%- if settings.override_font != blank -%}
    {%- for font in font_array -%}
        {%- unless font contains 'error' -%}
            {{ font }}{%- endunless -%}
    {%- endfor -%}
    #sp-{{ section.id }} {
    --sp-heading-font-family: {{ settings.heading_font.family }},{{ settings.heading_font.fallback_families }};
    --sp-heading-font-weight: {{ settings.heading_font.weight }};
    --sp-heading-font-style: {{ settings.heading_font.style }};
    --sp-body-font-family: {{ settings.body_font.family }},{{ settings.body_font.fallback_families }};
    --sp-body-font-weight: {{ settings.body_font.weight }};
    --sp-body-font-style: {{ settings.body_font.style }};
    --sp-highlight-font-family: {{ settings.highlight_font.family }},{{ settings.highlight_font.fallback_families }};
    --sp-highlight-font-weight: {{ settings.highlight_font.weight }};
    --sp-highlight-font-style: {{ settings.highlight_font.style }};
    }
    {% if custom_selector != blank %}
        {{ custom_selector }} {
        --sp-heading-font-family: {{ settings.heading_font.family }},{{ settings.heading_font.fallback_families }};
        --sp-heading-font-weight: {{ settings.heading_font.weight }};
        --sp-heading-font-style: {{ settings.heading_font.style }};
        --sp-body-font-family: {{ settings.body_font.family }},{{ settings.body_font.fallback_families }};
        --sp-body-font-weight: {{ settings.body_font.weight }};
        --sp-body-font-style: {{ settings.body_font.style }};
        --sp-highlight-font-family: {{ settings.highlight_font.family }},{{ settings.highlight_font.fallback_families }};
        --sp-highlight-font-weight: {{ settings.highlight_font.weight }};
        --sp-highlight-font-style: {{ settings.highlight_font.style }};
        }
    {% endif %}
{% endif %}

    
    #sp-{{ section.id }} [data-plugin="sp-carousel"] {
        --sp-slideshow-progress-duration: {{ settings.change_slide_every | default: 3 }}s;
        --sp-slideshow-pagination-background-radius: {{ settings.pagination_border_radius }}px;
        --sp-slideshow-pagination-background-color: {{ settings.pagination_background }};
        --sp-slideshow-pagination-color: {{ settings.pagination_highlight }};
    {% if settings.navigation_style == 'fill' %}{% if settings.navigation_background_gradient != blank %} --sp-slideshow-navigation-background-color: transparent;
        --sp-slideshow-navigation-background-gradient-color: {{ settings.navigation_background_gradient }};
    {% else %} --sp-slideshow-navigation-background-color: {{ settings.navigation_background }};
        --sp-slideshow-navigation-background-gradient-color: null;
    {% endif %}{% else %} --sp-slideshow-navigation-background-color: {{ settings.navigation_background }};
    {% endif %} --sp-slideshow-navigation-icon-color: {{ settings.navigation_icon }};
        --sp-navigation-border-width: {{ settings.navigation_button_border_width }}px;
        --sp-navigation-scale: {{ settings.navigation_button_scale | divided_by: 100.0 }};
        --sp-slideshow-navigarion-boxshadow-color: {{ settings.navigation_background_shadow }};
        --sp-slideshow-navigarion-border-radius: {% if settings.navigation_button_radius == 60 %}50%{% else %}{{ settings.navigation_button_radius }}px{% endif %};
    }


    #sp-{{ section.id }} {
        --sp-content-max-width: {{ settings.content_max_width }}px;
    }

    #sp-{{ section.id }} [data-plugin="sp-carousel"] {
        --sp-slideshow-content-border-radius: {{ settings.content_border_radius }}px;
        --sp-slideshow-content-border-size: {{ settings.content_border_size }}px;
        --sp-animation-delay: {{ settings.transition_delay | default: 0.15 }}s;
    {% if settings.background_content != blank %} --sp-slideshow-content-background-color: {{ settings.background_content }};
    {%endif%}{% if settings.border_background_content != blank %} --sp-slideshow-content-border-color: {{ settings.border_background_content }};
    {%endif%}{% if settings.gradient_overlay != blank %} --sp-slideshow-background-overlay-color: {{ settings.gradient_overlay }};
    {%endif%}
    }
</style>
<div id="sp-{{ section.id }}" class="sp-{{ section.id }} sp-section-slide-show-1" data-section="slide-show-1"
     data-variant="variant-7">
    <div class="sp-section" data-border="{{ settings.section_border }}">
        <div class="sp-container-fluid sp-container-no-gap">
            <div class="sp-section-inner" data-lazy="sp-{% if settings.lazy_load %}lazy-section{% endif %}"
                 data-cascade>
                <div class="sp-carousel-wrapper" data-plugin="sp-carousel"
                     data-pagination-style="{{ settings.pagination_style | default: "circle" }}"
                     data-pagination-position="{{ settings.pagination_position }}"
                     data-pagination-background="{{ settings.show_background_pagination }}"
                     data-show-pagination-desktop="{{ settings.show_pagination_desktop }}"
                     data-show-pagination-mobile="{{ settings.show_pagination_mobile }}"
                     data-show-navigation-desktop="{{ settings.show_navigation_desktop }}"
                     data-show-navigation-mobile="{{ settings.show_navigation_mobile }}"
                     data-navigation-box-shadow="{{ settings.navigation_box_shadow }}"
                     data-navigation-style="{{ settings.navigation_style | default: "fill" }}"
                     data-loading="{{ settings.auto_rotate_slide | default: "false" }}"
                     data-loading-time="{{ settings.change_slide_every | default: 3 }}"
                     data-fade-content="{{ settings.fade_in_content | default: false }}"
                     data-full-screen="{{ settings.full_screen }}"
                     data-show-background-content="{{ settings.show_background_content }}"
                     data-show-border-content="{{ settings.show_border_content }}"
                     data-image-behavior="{{ settings.image_behavior }}"
                >
                    <div class="sp-carousel">
                        {% assign slideIndex = 0 %}
                        {% for block in section.blocks %}
                            {% assign setting = block.settings %}

                            {% assign video_type = null %}
                            {% assign video_url = null %}
                            {% assign video_alt = null %}

                            {% if setting.video_url and setting.video_url.type %}
                                {% assign video_type = setting.video_url.type %}
                                {% assign video_url = setting.video_url.id %}
                                {% assign video_alt = setting.video_alt | escape %}
                            {% endif %}
                            <div id="sp-{{ block.id }}" class="sp-carousel-item" data-type="{{ block.type }}"
                                 data-slider-index="{{ slideIndex }}"
                                 data-video="{% if setting.video != null or video_url != null %}video{% endif %}" {{ block.shopify_attributes }}>
                                {% if block.type == 'image_slide' %}
                                    <div class="sp-carousel-image-wrapper sp-image-effect">
                                        {% if setting.slide_image != null %}
                                            {% if setting.button_link != null %}
                                                <a href="{{ setting.button_link }}">
                                            {% endif %}
                                            <img class="sp-image"
                                                 src="{{ setting.slide_image | image_url: width: 1920 }}"
                                                 alt="{{ setting.slide_image.alt | default: "" }}">
                                            {% if setting.button_link != null %}
                                                </a>
                                            {% endif %}
                                        {% else %}
                                            {{ 'image' | placeholder_svg_tag: "sp-placeholder-image-gray-100" }}
                                        {% endif %}
                                        {% if setting.slide_image_mobile != null %}
                                            {% if setting.button_link != null %}
                                                <a href="{{ setting.button_link }}">
                                            {% endif %}
                                            <img class="sp-image sp-image-mobile"
                                                 src="{{ setting.slide_image_mobile | image_url: width: 1920 }}"
                                                 alt="{{ setting.slide_image_mobile.alt | default: "" }}">
                                            {% if setting.button_link != null %}
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                {% endif %}
                                {% if block.type == 'video_slide' %}
                                    <div class="sp-carousel-video-wrapper">
                                        {% if setting.video != null and video_url == null %}
                                            {{ setting.video | video_tag: image_size: '1920x', loop: true, controls: false, muted: true, autoplay: true }}
                                        {% endif %}
                                    </div>
                                    {% if video_url != null %}
                                        <div class="sp-video-backdrop" data-video-type="{{ video_type }}"
                                             data-video-url="{{ video_url }}"
                                             data-video-alt="{{ video_alt }}"></div>
                                    {% endif %}
                                {% endif %}
                                {% if setting.hide_content == false %}
                                    <div class="sp-content-outer">
                                    {% if settings.content_in_container %}
                                        <div class="sp-container">
                                            {% endif %}
                                            <div class="sp-content-inner {{ setting.content_position }}">
                                                {% assign heading_settings = block.settings %}
                                                {% assign heading_selector = block.id | prepend: "#sp-" | append: ".sp-carousel-item .sp-content-wrapper" %}
                                                <style>
                                                    
    {{ heading_selector }} {
        --sp-section-heading-size: {{ heading_settings.heading_size_mobile }}px;
        --sp-section-description-size: {{ heading_settings.description_size_mobile }}px;
        --sp-heading-letter-spacing: {{ heading_settings.text_heading_spacing | default: 0 }}px;
        --sp-heading-spacing-scale: {{ heading_settings.heading_spacing_scale | divided_by: 100.0 | times: 0.6 }};

    }
    @media (min-width: 768px) {
        {{ heading_selector }} {
            --sp-heading-spacing-scale: {{ heading_settings.heading_spacing_scale | divided_by: 100.0 | times: 0.8 }};
            --sp-section-heading-size: {{ heading_settings.heading_size_desktop | times: 0.8 }}px;
            --sp-section-description-size: max({{ heading_settings.description_size_desktop | times: 0.8 }}px, {{ heading_settings.description_size_mobile }}px);
        }
    }

    @media (min-width: 1200px) {
        {{ heading_selector }} {
            --sp-heading-spacing-scale: {{ heading_settings.heading_spacing_scale | divided_by: 100.0 }};
            --sp-section-heading-size: {{ heading_settings.heading_size_desktop }}px;
            --sp-section-description-size: {{ heading_settings.description_size_desktop }}px;
        }
    }

                                                </style>
                                                <div class="sp-content-wrapper {% if settings.fade_in_content %}has-fade{% endif %} {{ setting.content_alignment }}"
                                                     data-max-width>
                                                    {% if setting.sub_heading != blank %}
                                                        <h5 class="sp-sub-heading {{ setting.sub_heading_size | default: "sp-sub-heading-size-medium" }}">{{ setting.sub_heading }}</h5>
                                                    {% endif %}
                                                    {% if setting.heading != blank %}
                                                        <h2 class="sp-heading">{{ setting.heading }}</h2>
                                                    {% endif %}
                                                    {% if setting.description != blank and setting.description != '<p></p>' %}
                                                        <div class="sp-description">{{ setting.description }}</div>
                                                    {% endif %}
                                                    {% if setting.button_text != blank or setting.button_text_2 != blank %}
                                                        <div class="sp-button-wrapper">
                                                            {% if setting.button_text != blank %}
                                                                {% assign button_selector = block.id | append: ".sp-carousel-item .sp-button-wrapper .sp-button-1" | prepend: "#sp-" %}
                                                                {% assign button_settings = block.settings %}
                                                                <style>
                                                                    {% comment %}
    Render button style variables
    Pass button selector to apply
{% endcomment %}
{{ button_selector }}{
    --sp-button-border-width:{{ button_settings.button_border_width | append:"px" }};
    --sp-button-radius: {{ button_settings.button_radius | append:"px" }};
    --sp-button-text-spacing: {{ button_settings.button_text_spacing | append:"px" }};
    --sp-button-scale: {{ button_settings.button_scale_mobile | divided_by: 100.0 }};
    {% if button_settings.button_scale_mobile >= 100 %}
        --sp-button-font-scale: {{ button_settings.button_scale_mobile | minus: 100.0 | divided_by: 2 | plus: 100 | divided_by: 100.0 }};
    {% endif %}
    {% if button_settings.button_scale_mobile < 100 %}
        --sp-button-font-scale: {{ 100.0 | minus: button_settings.button_scale_mobile | divided_by: 2 | plus: button_settings.button_scale_mobile | divided_by: 100.0 }};
    {% endif %}
}
@media(min-width: 992px){
    {{ button_selector }}{
        --sp-button-scale: {{ button_settings.button_scale | divided_by: 100.0 }};
        {% if button_settings.button_scale >= 100 %}
            --sp-button-font-scale: {{ button_settings.button_scale | minus: 100.0 | divided_by: 2 | plus: 100 | divided_by: 100.0 }};
        {% endif %}
        {% if button_settings.button_scale < 100 %}
            --sp-button-font-scale: {{ 100.0 | minus: button_settings.button_scale | divided_by: 2 | plus: button_settings.button_scale | divided_by: 100.0 }};
        {% endif %}
    }
}
                                                                    #sp-{{ block.id }}.sp-carousel-item .sp-button-wrapper .sp-button-1 {
                                                                        --sp-button-background-color: {{ settings.button_1_background }};
                                                                        --sp-button-background-gradient-color: {{ settings.button_1_background_gradient | default: "none" }};
                                                                        --sp-button-text-color: {{ settings.button_1_text }};
                                                                    }

                                                                </style>
                                                                <a {% if setting.button_link == blank %} aria-disabled="true" {% else %}
                                                                    href="{{ setting.button_link }}" {% endif %}
                                                                        class="sp-button sp-button-1 {{ setting.button_style | default: "sp-button-link" }}"
                                                                        data-button-hover="{{ settings.button_hover }}">{{ setting.button_text }}</a>
                                                            {% endif %}
                                                            {% if setting.button_text_2 != blank %}
                                                                {% assign button_selector = block.id | append: ".sp-carousel-item .sp-button-wrapper .sp-button-2" | prepend: "#sp-" %}
                                                                {% assign button_settings = block.settings %}
                                                                <style>
                                                                    {% comment %}
    Render button style variables
    Pass button selector to apply
{% endcomment %}
{{ button_selector }}{
--sp-button-border-width:{{ button_settings.button_border_width_2 | append:"px" }};
--sp-button-radius: {{ button_settings.button_radius_2 | append:"px" }};
--sp-button-text-spacing: {{ button_settings.button_text_spacing_2 | append:"px" }};
--sp-button-scale: {{ button_settings.button_scale_mobile_2 | divided_by: 100.0 }};
{% if button_settings.button_scale_mobile_2 >= 100 %}
    --sp-button-font-scale: {{ button_settings.button_scale_mobile_2 | minus: 100.0 | divided_by: 2 | plus: 100 | divided_by: 100.0 }};
{% endif %}
{% if button_settings.button_scale_mobile_2 < 100 %}
    --sp-button-font-scale: {{ 100.0 | minus: button_settings.button_scale_mobile_2 | divided_by: 2 | plus: button_settings.button_scale_mobile_2 | divided_by: 100.0 }};
{% endif %}
}
@media(min-width: 992px){
{{ button_selector }}{
--sp-button-scale: {{ button_settings.button_scale_2 | divided_by: 100.0 }};
{% if button_settings.button_scale_2 >= 100 %}
    --sp-button-font-scale: {{ button_settings.button_scale_2 | minus: 100.0 | divided_by: 2 | plus: 100 | divided_by: 100.0 }};
{% endif %}
{% if button_settings.button_scale_2 < 100 %}
    --sp-button-font-scale: {{ 100.0 | minus: button_settings.button_scale_2 | divided_by: 2 | plus: button_settings.button_scale_2 | divided_by: 100.0 }};
{% endif %}
}

}
                                                                    #sp-{{ block.id }}.sp-carousel-item .sp-button-wrapper .sp-button-2 {
                                                                        --sp-button-background-color: {{ settings.button_2_background }};
                                                                        --sp-button-background-gradient-color: {{ settings.button_2_background_gradient | default:"none" }};
                                                                        --sp-button-text-color: {{ settings.button_2_text }};
                                                                    }
                                                                </style>
                                                                <a {% if setting.button_link_2 == blank %} aria-disabled="true" {% else %}
                                                                    href="{{ setting.button_link_2 }}" {% endif %}
                                                                        class="sp-button sp-button-2 {{ setting.button_style_2 | default: "sp-button-link" }}"
                                                                        data-button-hover="{{ settings.button_hover }}">{{ setting.button_text_2 }}</a>
                                                            {% endif %}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% if settings.content_in_container %}
                                        </div>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                            {% assign slideIndex = slideIndex | plus: 1 %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
{
	"name": "🧩 Slide Show 1.7",
	"tag": "section",
	"class": "sp-slideshow-1",
	"settings": [
		{
			"type": "header",
			"content": "Section setting"
		},
		{
			"type": "checkbox",
			"id": "auto_rotate_slide",
			"label": "Auto-rotate slides",
			"info": "Auto-playing will pause when mouse is hovered over, and resume when mouse is hovered off. Auto-playing will stop when the carousel is clicked or a cell is selected.",
			"default": true
		},
		{
			"type": "range",
			"id": "change_slide_every",
			"min": 1,
			"max": 15,
			"step": 1,
			"unit": "s",
			"label": "Change slides every",
			"default": 5
		},
		{
			"type": "range",
			"id": "image_ratio",
			"min": 0.3,
			"max": 3,
			"step": 0.1,
			"default": 2.1,
			"unit": ":1",
			"label": "Image ratio (desktop)"
		},
		{
			"type": "range",
			"id": "image_ratio_mobile",
			"min": 0.3,
			"max": 3,
			"step": 0.1,
			"default": 0.6,
			"unit": ":1",
			"label": "Image ratio (mobile)"
		},
		{
			"type": "checkbox",
			"id": "full_screen",
			"label": "Full screen",
			"default": false
		},
		{
			"type": "header",
			"content": "Content slideshow"
		},
		{
			"type": "checkbox",
			"id": "content_in_container",
			"label": "Content in container",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "show_background_content",
			"label": "Show background",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "show_border_content",
			"label": "Show border",
			"default": false
		},
		{
			"type": "range",
			"id": "content_max_width",
			"min": 300,
			"max": 1200,
			"step": 10,
			"unit": "px",
			"label": "Content max-width",
			"default": 1200
		},
		{
			"type": "range",
			"id": "content_border_radius",
			"min": 0,
			"max": 60,
			"step": 1,
			"unit": "px",
			"label": "Border radius",
			"default": 16
		},
		{
			"type": "range",
			"id": "content_border_size",
			"min": 0,
			"max": 20,
			"step": 1,
			"unit": "px",
			"label": "Border size content",
			"default": 3
		},
		{
			"type": "header",
			"content": "Pagination"
		},
		{
			"type": "checkbox",
			"id": "show_pagination_desktop",
			"label": "Show pagination (Desktop)",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_pagination_mobile",
			"label": "Show pagination (Mobile)",
			"default": true
		},
		{
			"type": "select",
			"id": "pagination_position",
			"label": "Pagination position",
			"options": [
				{
					"label": "Bottom left",
					"value": "bottom_left"
				},
				{
					"label": "Bottom center",
					"value": "bottom_center"
				},
				{
					"label": "Bottom right",
					"value": "bottom_right"
				}
			],
			"default": "bottom_center"
		},
		{
			"type": "select",
			"id": "pagination_style",
			"label": "Pagination style",
			"options": [
				{
					"label": "Dot",
					"value": "circle"
				},
				{
					"label": "Line",
					"value": "line"
				}
			],
			"default": "circle"
		},
		{
			"type": "checkbox",
			"id": "show_background_pagination",
			"label": "Show background pagination",
			"default": true
		},
		{
			"type": "range",
			"id": "pagination_border_radius",
			"min": 0,
			"max": 30,
			"step": 1,
			"unit": "px",
			"label": "Border radius",
			"default": 20
		},
		{
			"type": "header",
			"content": "Navigation button"
		},
		{
			"type": "checkbox",
			"id": "show_navigation_desktop",
			"label": "Show navigation (Desktop)",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_navigation_mobile",
			"label": "Show navigation (Mobile)",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "navigation_box_shadow",
			"label": "Box shadow",
			"default": true
		},
		{
			"type": "select",
			"id": "navigation_style",
			"label": "Button style",
			"options": [
				{
					"label": "Button fill",
					"value": "fill"
				},
				{
					"label": "Button outline",
					"value": "outline"
				},
				{
					"label": "Only icon",
					"value": "icon"
				}
			],
			"default": "fill"
		},
		{
			"type": "range",
			"id": "navigation_button_scale",
			"min": 50,
			"max": 150,
			"step": 10,
			"unit": "%",
			"label": "Button scale",
			"default": 100
		},
		{
			"type": "range",
			"id": "navigation_button_radius",
			"min": 0,
			"max": 60,
			"step": 1,
			"unit": "px",
			"label": "Button border radius",
			"default": 60
		},
		{
			"type": "range",
			"id": "navigation_button_border_width",
			"min": 0.5,
			"max": 5,
			"step": 0.5,
			"unit": "px",
			"label": "Button border size",
			"info": "Apply to button outline style",
			"default": 1
		},
		{
			"type": "header",
			"content": "Effects"
		},
		{
			"type": "checkbox",
			"id": "lazy_load",
			"label": "Lazy load",
			"default": false
		},
		{
			"type": "checkbox",
			"id": "fade_in_content",
			"label": "Fade-in content",
			"default": true
		},
		{
			"type": "range",
			"id": "transition_delay",
			"min": 0,
			"max": 5,
			"step": 0.1,
			"unit": "s",
			"label": "Transition delay",
			"default": 0.2
		},
		{
			"type": "select",
			"id": "image_behavior",
			"label": "Image Behavior",
			"options": [
				{
					"label": "None",
					"value": "none"
				},
				{
					"label": "Ambient movement",
					"value": "ambient_movement"
				}
			],
			"default": "ambient_movement"
		},
		{
			"type": "select",
			"id": "button_hover",
			"label": "Button hover",
			"options": [
				{
					"label": "None",
					"value": "none"
				},
				{
					"label": "Fly",
					"value": "fly"
				},
				{
					"label": "Opacity",
					"value": "opacity"
				}
			],
			"default": "fly"
		},
		{
			"type": "header",
			"content": "Slideshow color"
		},
		{
			"type": "color_background",
			"id": "gradient_overlay",
			"label": "Gradient Overlay Image",
			"default": "linear-gradient(180deg, rgba(19, 93, 134, 0.00) 0%, rgba(19, 93, 134, 0.50) 50.18%, rgba(19, 93, 134, 0.00) 100%)"
		},
		{
			"type": "color_background",
			"id": "background_content",
			"label": "Background content",
			"default": "linear-gradient(105deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.00) 100%)"
		},
		{
			"type": "color",
			"id": "border_background_content",
			"label": "Border background content"
		},
		{
			"type": "color",
			"id": "text_content",
			"label": "Text",
			"default": "#FFF"
		},
		{
			"type": "header",
			"content": "Navigation button color"
		},
		{
			"type": "color",
			"id": "navigation_background",
			"label": "Background",
			"default": "#FFF"
		},
		{
			"type": "color_background",
			"id": "navigation_background_gradient",
			"label": "Background gradient",
			"info": "Background gradient replaces background where possible.",
			"default": "linear-gradient(270deg, rgba(255, 255, 255, 0.20) 0.04%, rgba(255, 255, 255, 0.20) 99.96%)"
		},
		{
			"type": "color",
			"id": "navigation_icon",
			"label": "Icon",
			"default": "#FFF"
		},
		{
			"type": "color",
			"id": "navigation_background_shadow",
			"label": "Shadow",
			"default": "#23468F"
		},
		{
			"type": "header",
			"content": "Pagination color"
		},
		{
			"type": "color_background",
			"id": "pagination_background",
			"label": "Background",
			"default": "linear-gradient(270deg, rgba(255, 255, 255, 0.10), rgba(255, 255, 255, 0.10) 100%)"
		},
		{
			"type": "color",
			"id": "pagination_highlight",
			"label": "Highlight",
			"default": "#FFF"
		},
		{
			"type": "header",
			"content": "Button content 1"
		},
		{
			"type": "color",
			"id": "button_1_background",
			"label": "Background",
			"default": "#FF6A49"
		},
		{
			"type": "color_background",
			"id": "button_1_background_gradient",
			"label": "Background gradient",
			"info": "Background gradient replaces background where possible."
		},
		{
			"type": "color",
			"id": "button_1_text",
			"label": "Text",
			"default": "#FFF"
		},
		{
			"type": "header",
			"content": "Button content 2"
		},
		{
			"type": "color",
			"id": "button_2_background",
			"label": "Background",
			"default": "#49FFE9"
		},
		{
			"type": "color_background",
			"id": "button_2_background_gradient",
			"label": "Background gradient",
			"info": "Background gradient replaces background where possible."
		},
		{
			"type": "color",
			"id": "button_2_text",
			"label": "Text",
			"default": "#1E1E1E"
		},
		{
			"type": "header",
			"content": "Typography"
		},
		{
			"type": "checkbox",
			"id": "override_font",
			"label": "Override fonts of the theme",
			"default": true,
			"info": "If you check this option, the fonts of the section will work"
		},
		{
			"type": "font_picker",
			"id": "heading_font",
			"label": "Heading font",
			"default": "playfair_display_n4"
		},
		{
			"type": "font_picker",
			"id": "body_font",
			"label": "Body font",
			"default": "futura_n4"
		}
	],
	"blocks": [
		{
			"name": "Image slide",
			"type": "image_slide",
			"settings": [
				{
					"type": "header",
					"content": "Image"
				},
				{
					"type": "image_picker",
					"id": "slide_image",
					"label": "Image"
				},
				{
					"type": "image_picker",
					"id": "slide_image_mobile",
					"label": "Image mobile (Optional)"
				},
				{
					"type": "checkbox",
					"id": "hide_content",
					"label": "Hide content",
					"default": false
				},
				{
					"type": "header",
					"content": "Content"
				},
				{
					"type": "inline_richtext",
					"id": "sub_heading",
					"label": "Subheading"
				},
				{
					"type": "inline_richtext",
					"id": "heading",
					"label": "Heading",
					"default": "HELLO SUMMER"
				},
				{
					"type": "richtext",
					"id": "description",
					"label": "Description",
					"default": "<p></p>"
				},
				{
					"type": "select",
					"id": "content_position",
					"label": "Content position",
					"default": "sp-content-alignment-middle-center",
					"options": [
						{
							"label": "Top Left",
							"value": "sp-content-alignment-top-left"
						},
						{
							"label": "Top Center",
							"value": "sp-content-alignment-top-center"
						},
						{
							"label": "Top Right",
							"value": "sp-content-alignment-top-right"
						},
						{
							"label": "Middle Left",
							"value": "sp-content-alignment-middle-left"
						},
						{
							"label": "Middle Center",
							"value": "sp-content-alignment-middle-center"
						},
						{
							"label": "Middle Right",
							"value": "sp-content-alignment-middle-right"
						},
						{
							"label": "Bottom Left",
							"value": "sp-content-alignment-bottom-left"
						},
						{
							"label": "Bottom Center",
							"value": "sp-content-alignment-bottom-center"
						},
						{
							"label": "Bottom Right",
							"value": "sp-content-alignment-bottom-right"
						}
					]
				},
				{
					"type": "select",
					"id": "content_alignment",
					"label": "Content alignment",
					"default": "sp-content-text-center",
					"options": [
						{
							"label": "Left",
							"value": "sp-content-text-left"
						},
						{
							"label": "Center",
							"value": "sp-content-text-center"
						},
						{
							"label": "Right",
							"value": "sp-content-text-right"
						}
					]
				},
				{
					"type": "select",
					"id": "sub_heading_size",
					"label": "Sub heading size",
					"options": [
						{
							"label": "Small",
							"value": "sp-sub-heading-size-small"
						},
						{
							"label": "Medium",
							"value": "sp-sub-heading-size-medium"
						},
						{
							"label": "Large",
							"value": "sp-sub-heading-size-large"
						}
					],
					"default": "sp-sub-heading-size-medium"
				},
				{
					"type": "range",
					"id": "heading_size_desktop",
					"min": 18,
					"max": 86,
					"step": 1,
					"unit": "px",
					"label": "Heading size (Desktop)",
					"default": 64
				},
				{
					"type": "range",
					"id": "heading_size_mobile",
					"min": 18,
					"max": 86,
					"step": 1,
					"unit": "px",
					"label": "Heading size (Mobile)",
					"default": 32
				},
				{
					"type": "range",
					"id": "description_size_desktop",
					"min": 12,
					"max": 24,
					"step": 1,
					"unit": "px",
					"label": "Description size (Desktop)",
					"default": 18
				},
				{
					"type": "range",
					"id": "description_size_mobile",
					"min": 12,
					"max": 24,
					"step": 1,
					"unit": "px",
					"label": "Description size (Mobile)",
					"default": 16
				},
				{
					"type": "range",
					"id": "heading_spacing_scale",
					"min": 50,
					"max": 200,
					"step": 10,
					"unit": "%",
					"label": "Heading spacing scale",
					"default": 100
				},
				{
					"type": "range",
					"id": "text_heading_spacing",
					"min": -10,
					"max": 10,
					"step": 0.2,
					"unit": "px",
					"label": "Text heading letter spacing",
					"default": 0
				},
				{
					"type": "header",
					"content": "Button 1"
				},
				{
					"type": "text",
					"id": "button_text",
					"label": "Button label",
					"info": "Leave the label blank to hide the button.",
					"default": "Button text"
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "Button link"
				},
				{
					"type": "select",
					"id": "button_style",
					"label": "Button style",
					"options": [
						{
							"label": "Button link",
							"value": "sp-button-link"
						},
						{
							"label": "Button fill",
							"value": "sp-button-fill"
						},
						{
							"label": "Button outline",
							"value": "sp-button-outline"
						}
					],
					"default": "sp-button-fill"
				},
				{
					"type": "range",
					"id": "button_text_spacing",
					"min": -10,
					"max": 10,
					"step": 0.2,
					"unit": "px",
					"label": "Text button letter spacing",
					"default": 2.2
				},
				{
					"type": "range",
					"id": "button_scale",
					"min": 50,
					"max": 150,
					"step": 10,
					"unit": "%",
					"label": "Button scale (Desktop)",
					"default": 100
				},
				{
					"type": "range",
					"id": "button_scale_mobile",
					"min": 50,
					"max": 150,
					"step": 10,
					"unit": "%",
					"label": "Button scale (Mobile)",
					"default": 80
				},
				{
					"type": "range",
					"id": "button_radius",
					"min": 0,
					"max": 60,
					"step": 1,
					"unit": "px",
					"label": "Button border radius",
					"default": 46
				},
				{
					"type": "range",
					"id": "button_border_width",
					"min": 0.5,
					"max": 5,
					"step": 0.5,
					"unit": "px",
					"label": "Button border size",
					"default": 1.5
				},
				{
					"type": "header",
					"content": "Button 2"
				},
				{
					"type": "text",
					"id": "button_text_2",
					"label": "Button label",
					"info": "Leave the label blank to hide the button."
				},
				{
					"type": "url",
					"id": "button_link_2",
					"label": "Button link"
				},
				{
					"type": "select",
					"id": "button_style_2",
					"label": "Button style",
					"options": [
						{
							"label": "Button link",
							"value": "sp-button-link"
						},
						{
							"label": "Button fill",
							"value": "sp-button-fill"
						},
						{
							"label": "Button outline",
							"value": "sp-button-outline"
						}
					],
					"default": "sp-button-outline"
				},
				{
					"type": "range",
					"id": "button_text_spacing_2",
					"min": -10,
					"max": 10,
					"step": 0.2,
					"unit": "px",
					"label": "Text button letter spacing",
					"default": 2.2
				},
				{
					"type": "range",
					"id": "button_scale_2",
					"min": 50,
					"max": 150,
					"step": 10,
					"unit": "%",
					"label": "Button scale (Desktop)",
					"default": 100
				},
				{
					"type": "range",
					"id": "button_scale_mobile_2",
					"min": 50,
					"max": 150,
					"step": 10,
					"unit": "%",
					"label": "Button scale (Mobile)",
					"default": 80
				},
				{
					"type": "range",
					"id": "button_radius_2",
					"min": 0,
					"max": 60,
					"step": 1,
					"unit": "px",
					"label": "Button border radius",
					"default": 46
				},
				{
					"type": "range",
					"id": "button_border_width_2",
					"min": 0.5,
					"max": 5,
					"step": 0.5,
					"unit": "px",
					"label": "Button border size",
					"default": 1.5
				}
			]
		},
		{
			"name": "Video slide",
			"type": "video_slide",
			"settings": [
				{
					"type": "header",
					"content": "Video"
				},
				{
					"type": "video",
					"id": "video",
					"label": "Shopify-hosted video"
				},
				{
					"type": "video_url",
					"id": "video_url",
					"label": "Video URL",
					"accept": [
						"youtube",
						"vimeo"
					]
				},
				{
					"type": "checkbox",
					"id": "hide_content",
					"label": "Hide content",
					"default": false
				},
				{
					"type": "header",
					"content": "Content"
				},
				{
					"type": "inline_richtext",
					"id": "sub_heading",
					"label": "Subheading",
					"default": "SUBHEADING"
				},
				{
					"type": "inline_richtext",
					"id": "heading",
					"label": "Heading",
					"default": "Add Heading"
				},
				{
					"type": "richtext",
					"id": "description",
					"label": "Description",
					"default": "<p>Share information about your brand with your customers. Describe a product, make announcements, or welcome customers to your store.</p>"
				},
				{
					"type": "select",
					"id": "content_position",
					"label": "Content position",
					"default": "sp-content-alignment-middle-center",
					"options": [
						{
							"label": "Top Left",
							"value": "sp-content-alignment-top-left"
						},
						{
							"label": "Top Center",
							"value": "sp-content-alignment-top-center"
						},
						{
							"label": "Top Right",
							"value": "sp-content-alignment-top-right"
						},
						{
							"label": "Middle Left",
							"value": "sp-content-alignment-middle-left"
						},
						{
							"label": "Middle Center",
							"value": "sp-content-alignment-middle-center"
						},
						{
							"label": "Middle Right",
							"value": "sp-content-alignment-middle-right"
						},
						{
							"label": "Bottom Left",
							"value": "sp-content-alignment-bottom-left"
						},
						{
							"label": "Bottom Center",
							"value": "sp-content-alignment-bottom-center"
						},
						{
							"label": "Bottom Right",
							"value": "sp-content-alignment-bottom-right"
						}
					]
				},
				{
					"type": "select",
					"id": "content_alignment",
					"label": "Content alignment",
					"default": "sp-content-text-center",
					"options": [
						{
							"label": "Left",
							"value": "sp-content-text-left"
						},
						{
							"label": "Center",
							"value": "sp-content-text-center"
						},
						{
							"label": "Right",
							"value": "sp-content-text-right"
						}
					]
				},
				{
					"type": "select",
					"id": "sub_heading_size",
					"label": "Sub heading size",
					"options": [
						{
							"label": "Small",
							"value": "sp-sub-heading-size-small"
						},
						{
							"label": "Medium",
							"value": "sp-sub-heading-size-medium"
						},
						{
							"label": "Large",
							"value": "sp-sub-heading-size-large"
						}
					],
					"default": "sp-sub-heading-size-medium"
				},
				{
					"type": "range",
					"id": "heading_size_desktop",
					"min": 18,
					"max": 86,
					"step": 1,
					"unit": "px",
					"label": "Heading size (Desktop)",
					"default": 48
				},
				{
					"type": "range",
					"id": "heading_size_mobile",
					"min": 18,
					"max": 86,
					"step": 1,
					"unit": "px",
					"label": "Heading size (Mobile)",
					"default": 36
				},
				{
					"type": "range",
					"id": "description_size_desktop",
					"min": 12,
					"max": 24,
					"step": 1,
					"unit": "px",
					"label": "Description size (Desktop)",
					"default": 16
				},
				{
					"type": "range",
					"id": "description_size_mobile",
					"min": 12,
					"max": 24,
					"step": 1,
					"unit": "px",
					"label": "Description size (Mobile)",
					"default": 16
				},
				{
					"type": "range",
					"id": "heading_spacing_scale",
					"min": 50,
					"max": 200,
					"step": 10,
					"unit": "%",
					"label": "Heading spacing scale",
					"default": 100
				},
				{
					"type": "range",
					"id": "text_heading_spacing",
					"min": -10,
					"max": 10,
					"step": 0.2,
					"unit": "px",
					"label": "Text heading letter spacing",
					"default": 0
				},
				{
					"type": "header",
					"content": "Button 1"
				},
				{
					"type": "text",
					"id": "button_text",
					"label": "Button label",
					"info": "Leave the label blank to hide the button.",
					"default": "Button text"
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "Button link"
				},
				{
					"type": "select",
					"id": "button_style",
					"label": "Button style",
					"options": [
						{
							"label": "Button link",
							"value": "sp-button-link"
						},
						{
							"label": "Button fill",
							"value": "sp-button-fill"
						},
						{
							"label": "Button outline",
							"value": "sp-button-outline"
						}
					],
					"default": "sp-button-link"
				},
				{
					"type": "range",
					"id": "button_text_spacing",
					"min": -10,
					"max": 10,
					"step": 0.2,
					"unit": "px",
					"label": "Text button letter spacing",
					"default": 0
				},
				{
					"type": "range",
					"id": "button_scale",
					"min": 50,
					"max": 150,
					"step": 10,
					"unit": "%",
					"label": "Button scale (Desktop)",
					"default": 100
				},
				{
					"type": "range",
					"id": "button_scale_mobile",
					"min": 50,
					"max": 150,
					"step": 10,
					"unit": "%",
					"label": "Button scale (Mobile)",
					"default": 100
				},
				{
					"type": "range",
					"id": "button_radius",
					"min": 0,
					"max": 60,
					"step": 1,
					"unit": "px",
					"label": "Button border radius",
					"default": 40
				},
				{
					"type": "range",
					"id": "button_border_width",
					"min": 0.5,
					"max": 5,
					"step": 0.5,
					"unit": "px",
					"label": "Button border size",
					"default": 1
				},
				{
					"type": "header",
					"content": "Button 2"
				},
				{
					"type": "text",
					"id": "button_text_2",
					"label": "Button label",
					"info": "Leave the label blank to hide the button."
				},
				{
					"type": "url",
					"id": "button_link_2",
					"label": "Button link"
				},
				{
					"type": "select",
					"id": "button_style_2",
					"label": "Button style",
					"options": [
						{
							"label": "Button link",
							"value": "sp-button-link"
						},
						{
							"label": "Button fill",
							"value": "sp-button-fill"
						},
						{
							"label": "Button outline",
							"value": "sp-button-outline"
						}
					],
					"default": "sp-button-outline"
				},
				{
					"type": "range",
					"id": "button_text_spacing_2",
					"min": -10,
					"max": 10,
					"step": 0.2,
					"unit": "px",
					"label": "Text button letter spacing",
					"default": 0
				},
				{
					"type": "range",
					"id": "button_scale_2",
					"min": 50,
					"max": 150,
					"step": 10,
					"unit": "%",
					"label": "Button scale (Desktop)",
					"default": 100
				},
				{
					"type": "range",
					"id": "button_scale_mobile_2",
					"min": 50,
					"max": 150,
					"step": 10,
					"unit": "%",
					"label": "Button scale (Mobile)",
					"default": 100
				},
				{
					"type": "range",
					"id": "button_radius_2",
					"min": 0,
					"max": 60,
					"step": 1,
					"unit": "px",
					"label": "Button border radius",
					"default": 40
				},
				{
					"type": "range",
					"id": "button_border_width_2",
					"min": 0.5,
					"max": 5,
					"step": 0.5,
					"unit": "px",
					"label": "Button border size",
					"default": 1
				}
			]
		}
	],
	"presets": [
		{
			"name": "🧩 Slide Show 1.7",
			"settings": {
				"auto_rotate_slide": true,
				"change_slide_every": 5,
				"image_ratio": 2.1,
				"image_ratio_mobile": 0.6,
				"full_screen": false,
				"content_in_container": false,
				"show_background_content": false,
				"show_border_content": false,
				"content_max_width": 1200,
				"content_border_radius": 16,
				"content_border_size": 3,
				"show_pagination_desktop": true,
				"show_pagination_mobile": true,
				"pagination_position": "bottom_center",
				"pagination_style": "circle",
				"show_background_pagination": true,
				"pagination_border_radius": 20,
				"show_navigation_desktop": true,
				"show_navigation_mobile": false,
				"navigation_box_shadow": true,
				"navigation_style": "fill",
				"navigation_button_scale": 100,
				"navigation_button_radius": 60,
				"navigation_button_border_width": 1,
				"lazy_load": false,
				"fade_in_content": true,
				"transition_delay": 0.2,
				"image_behavior": "ambient_movement",
				"button_hover": "fly",
				"gradient_overlay": "linear-gradient(180deg, rgba(19, 93, 134, 0.00) 0%, rgba(19, 93, 134, 0.50) 50.18%, rgba(19, 93, 134, 0.00) 100%)",
				"background_content": "",
				"border_background_content": "",
				"text_content": "#FFF",
				"navigation_background": "",
				"navigation_background_gradient": "linear-gradient(270deg, rgba(255, 255, 255, 0.20) 0.04%, rgba(255, 255, 255, 0.20) 99.96%)",
				"navigation_icon": "#FFF",
				"navigation_background_shadow": "#23468F",
				"pagination_background": "linear-gradient(270deg, rgba(255, 255, 255, 0.10), rgba(255, 255, 255, 0.10) 100%)",
				"pagination_highlight": "#FFF",
				"button_1_background": "#FF6A49",
				"button_1_background_gradient": "",
				"button_1_text": "#FFF",
				"button_2_background": "#49FFE9",
				"button_2_background_gradient": "",
				"button_2_text": "#1E1E1E",
				"override_font": true,
				"heading_font": "playfair_display_n4",
				"body_font": "futura_n4"
			},
			"blocks": [
				{
					"type": "image_slide",
					"settings": {
						"slide_image": "shopify://shop_images/slide-show-1-variant-7-image-1.png",
						"slide_image_mobile": "shopify://shop_images/slide-show-1-variant-7-image-1-1.png",
						"hide_content": false,
						"sub_heading": "",
						"heading": "HELLO SUMMER",
						"description": "",
						"content_position": "sp-content-alignment-middle-center",
						"content_alignment": "sp-content-text-center",
						"sub_heading_size": "sp-sub-heading-size-medium",
						"heading_size_desktop": 64,
						"heading_size_mobile": 32,
						"description_size_desktop": 18,
						"description_size_mobile": 16,
						"heading_spacing_scale": 100,
						"text_heading_spacing": 0,
						"button_text": "",
						"button_link": "",
						"button_style": "sp-button-fill",
						"button_text_spacing": 2.2,
						"button_scale": 100,
						"button_scale_mobile": 80,
						"button_radius": 46,
						"button_border_width": 1.5,
						"button_text_2": "",
						"button_link_2": "",
						"button_style_2": "sp-button-outline",
						"button_text_spacing_2": 2.2,
						"button_scale_2": 100,
						"button_scale_mobile_2": 80,
						"button_radius_2": 46,
						"button_border_width_2": 1.5
					}
				},
				{
					"type": "image_slide",
					"settings": {
						"slide_image": "shopify://shop_images/slide-show-1-variant-7-image-2.png",
						"slide_image_mobile": "shopify://shop_images/slide-show-1-variant-7-image-2-2.png",
						"hide_content": false,
						"sub_heading": "",
						"heading": "HELLO SUMMER",
						"description": "",
						"content_position": "sp-content-alignment-middle-center",
						"content_alignment": "sp-content-text-center",
						"sub_heading_size": "sp-sub-heading-size-medium",
						"heading_size_desktop": 64,
						"heading_size_mobile": 32,
						"description_size_desktop": 18,
						"description_size_mobile": 16,
						"heading_spacing_scale": 100,
						"text_heading_spacing": 0,
						"button_text": "",
						"button_link": "",
						"button_style": "sp-button-fill",
						"button_text_spacing": 2.2,
						"button_scale": 100,
						"button_scale_mobile": 80,
						"button_radius": 46,
						"button_border_width": 1.5,
						"button_text_2": "",
						"button_link_2": "",
						"button_style_2": "sp-button-outline",
						"button_text_spacing_2": 2.2,
						"button_scale_2": 100,
						"button_scale_mobile_2": 80,
						"button_radius_2": 46,
						"button_border_width_2": 1.5
					}
				},
				{
					"type": "image_slide",
					"settings": {
						"slide_image": "shopify://shop_images/slide-show-1-variant-7-image-3.png",
						"slide_image_mobile": "shopify://shop_images/slide-show-1-variant-7-image-3-3.png",
						"hide_content": false,
						"sub_heading": "",
						"heading": "HELLO SUMMER",
						"description": "",
						"content_position": "sp-content-alignment-middle-center",
						"content_alignment": "sp-content-text-center",
						"sub_heading_size": "sp-sub-heading-size-medium",
						"heading_size_desktop": 64,
						"heading_size_mobile": 32,
						"description_size_desktop": 18,
						"description_size_mobile": 16,
						"heading_spacing_scale": 100,
						"text_heading_spacing": 0,
						"button_text": "",
						"button_link": "",
						"button_style": "sp-button-fill",
						"button_text_spacing": 2.2,
						"button_scale": 100,
						"button_scale_mobile": 80,
						"button_radius": 46,
						"button_border_width": 1.5,
						"button_text_2": "",
						"button_link_2": "",
						"button_style_2": "sp-button-outline",
						"button_text_spacing_2": 2.2,
						"button_scale_2": 100,
						"button_scale_mobile_2": 80,
						"button_radius_2": 46,
						"button_border_width_2": 1.5
					}
				},
				{
					"type": "image_slide",
					"settings": {
						"slide_image": "shopify://shop_images/slide-show-1-variant-7-image-4.png",
						"slide_image_mobile": "shopify://shop_images/slide-show-1-variant-7-image-4-4.png",
						"hide_content": false,
						"sub_heading": "",
						"heading": "HELLO SUMMER",
						"description": "",
						"content_position": "sp-content-alignment-middle-center",
						"content_alignment": "sp-content-text-center",
						"sub_heading_size": "sp-sub-heading-size-medium",
						"heading_size_desktop": 64,
						"heading_size_mobile": 32,
						"description_size_desktop": 18,
						"description_size_mobile": 16,
						"heading_spacing_scale": 100,
						"text_heading_spacing": 0,
						"button_text": "",
						"button_link": "",
						"button_style": "sp-button-fill",
						"button_text_spacing": 2.2,
						"button_scale": 100,
						"button_scale_mobile": 80,
						"button_radius": 46,
						"button_border_width": 1.5,
						"button_text_2": "",
						"button_link_2": "",
						"button_style_2": "sp-button-outline",
						"button_text_spacing_2": 2.2,
						"button_scale_2": 100,
						"button_scale_mobile_2": 80,
						"button_radius_2": 46,
						"button_border_width_2": 1.5
					}
				},
				{
					"type": "image_slide",
					"settings": {
						"slide_image": "shopify://shop_images/slide-show-1-variant-7-image-5.png",
						"slide_image_mobile": "shopify://shop_images/slide-show-1-variant-7-image-5-5.png",
						"hide_content": false,
						"sub_heading": "",
						"heading": "HELLO SUMMER",
						"description": "",
						"content_position": "sp-content-alignment-middle-center",
						"content_alignment": "sp-content-text-center",
						"sub_heading_size": "sp-sub-heading-size-medium",
						"heading_size_desktop": 64,
						"heading_size_mobile": 32,
						"description_size_desktop": 18,
						"description_size_mobile": 16,
						"heading_spacing_scale": 100,
						"text_heading_spacing": 0,
						"button_text": "",
						"button_link": "",
						"button_style": "sp-button-fill",
						"button_text_spacing": 2.2,
						"button_scale": 100,
						"button_scale_mobile": 80,
						"button_radius": 46,
						"button_border_width": 1.5,
						"button_text_2": "",
						"button_link_2": "",
						"button_style_2": "sp-button-outline",
						"button_text_spacing_2": 2.2,
						"button_scale_2": 100,
						"button_scale_mobile_2": 80,
						"button_radius_2": 46,
						"button_border_width_2": 1.5
					}
				},
				{
					"type": "image_slide",
					"settings": {
						"slide_image": "shopify://shop_images/slide-show-1-variant-7-image-6.png",
						"slide_image_mobile": "shopify://shop_images/slide-show-1-variant-7-image-6-6.png",
						"hide_content": false,
						"sub_heading": "",
						"heading": "HELLO SUMMER",
						"description": "",
						"content_position": "sp-content-alignment-middle-center",
						"content_alignment": "sp-content-text-center",
						"sub_heading_size": "sp-sub-heading-size-medium",
						"heading_size_desktop": 64,
						"heading_size_mobile": 32,
						"description_size_desktop": 18,
						"description_size_mobile": 16,
						"heading_spacing_scale": 100,
						"text_heading_spacing": 0,
						"button_text": "",
						"button_link": "",
						"button_style": "sp-button-fill",
						"button_text_spacing": 2.2,
						"button_scale": 100,
						"button_scale_mobile": 80,
						"button_radius": 46,
						"button_border_width": 1.5,
						"button_text_2": "",
						"button_link_2": "",
						"button_style_2": "sp-button-outline",
						"button_text_spacing_2": 2.2,
						"button_scale_2": 100,
						"button_scale_mobile_2": 80,
						"button_radius_2": 46,
						"button_border_width_2": 1.5
					}
				}
			]
		}
	]
}
{% endschema %}

{% style %}
	#sp-{{section.id}}{--sp-section-top-padding: 0px;--sp-section-bottom-padding: 0px;--sp-image-aspect-ratio: {{settings.image_ratio}};--sp-image-aspect-ratio-mobile: {{settings.image_ratio_mobile}};--sp-section-text-color: {{settings.text_content}}}#sp-{{section.id}} [data-plugin=sp-carousel]{--sp-content-spacing: 0}#sp-{{section.id}} [data-plugin=sp-carousel] .sp-carousel{z-index:0}#sp-{{section.id}} [data-plugin=sp-carousel] .sp-carousel-item .sp-carousel-image-wrapper,#sp-{{section.id}} [data-plugin=sp-carousel] .sp-carousel-item .sp-carousel-video-wrapper{position:relative;aspect-ratio:calc(var(--sp-image-aspect-ratio)/1);z-index:9}#sp-{{section.id}} [data-plugin=sp-carousel] .sp-carousel-item .sp-carousel-image-wrapper:after,#sp-{{section.id}} [data-plugin=sp-carousel] .sp-carousel-item .sp-carousel-video-wrapper:after{content:"";position:absolute;display:block;top:0;left:0;width:100%;height:100%;background-image:var(--sp-slideshow-background-overlay-color);z-index:1}#sp-{{section.id}} [data-plugin=sp-carousel] .sp-carousel-item .sp-carousel-image-wrapper img,#sp-{{section.id}} [data-plugin=sp-carousel] .sp-carousel-item .sp-carousel-image-wrapper svg,#sp-{{section.id}} [data-plugin=sp-carousel] .sp-carousel-item .sp-carousel-image-wrapper a{display:block;position:absolute;top:0;left:0;width:100%;height:100%;object-fit:cover;object-position:center}#sp-{{section.id}} [data-plugin=sp-carousel] .sp-carousel-item .sp-carousel-image-wrapper a{z-index:2}#sp-{{section.id}} [data-plugin=sp-carousel] .sp-carousel-item .sp-carousel-image-wrapper .sp-image-mobile{display:none}#sp-{{section.id}} [data-plugin=sp-carousel] .sp-carousel-item .sp-content-outer{position:absolute;top:0;left:0;width:100%;height:100%;padding:10rem calc(5rem + var(--sp-container-desktop-padding));z-index:9}#sp-{{section.id}} [data-plugin=sp-carousel] .sp-carousel-item .sp-content-outer .sp-container{height:100%}#sp-{{section.id}} [data-plugin=sp-carousel] .sp-carousel-item .sp-content-outer .sp-content-inner{height:100%}#sp-{{section.id}} [data-plugin=sp-carousel] .sp-carousel-item .sp-button-wrapper{--sp-button-margin-top: 5rem}#sp-{{section.id}} [data-plugin=sp-carousel] .sp-carousel-item .sp-content-wrapper.has-fade{opacity:0}#sp-{{section.id}} [data-plugin=sp-carousel] .sp-carousel-item .sp-content-wrapper.has-fade.sp-animation-content-fadeIn{animation:sp-slideIn .5s var(--sp-ease-out-slow) var(--sp-animation-delay) forwards}#sp-{{section.id}} [data-plugin=sp-carousel][data-full-screen=true] .sp-carousel-item .sp-carousel-image-wrapper,#sp-{{section.id}} [data-plugin=sp-carousel][data-full-screen=true] .sp-carousel-item .sp-carousel-video-wrapper{aspect-ratio:unset;height:100vh !important}#sp-{{section.id}} [data-plugin=sp-carousel][data-show-background-content=true]{--sp-content-spacing: 5rem}#sp-{{section.id}} [data-plugin=sp-carousel][data-show-background-content=true] .sp-content-wrapper{background:var(--sp-slideshow-content-background-color);border-radius:var(--sp-slideshow-content-border-radius)}#sp-{{section.id}} [data-plugin=sp-carousel][data-show-border-content=true] .sp-content-wrapper{border:var(--sp-slideshow-content-border-size) solid var(--sp-slideshow-content-border-color)}#sp-{{section.id}} [data-plugin=sp-carousel] .sp-dots-wrapper{margin-top:0;padding-left:5rem;padding-right:5rem;position:absolute;bottom:5rem;left:0;width:100%}@media(max-width: 991px){#sp-{{section.id}} [data-plugin=sp-carousel] .sp-carousel-item .sp-content-outer{padding:10rem calc(5rem + var(--sp-container-tablet-padding))}}@media(max-width: 767px){#sp-{{section.id}} [data-plugin=sp-carousel] .sp-carousel-item .sp-carousel-image-wrapper{aspect-ratio:calc(var(--sp-image-aspect-ratio-mobile)/1)}#sp-{{section.id}} [data-plugin=sp-carousel] .sp-carousel-item .sp-carousel-image-wrapper .sp-image-mobile{display:block;z-index:1}#sp-{{section.id}} [data-plugin=sp-carousel] .sp-carousel-item .sp-carousel-video-wrapper{aspect-ratio:calc(var(--sp-image-aspect-ratio-mobile)/1)}#sp-{{section.id}} [data-plugin=sp-carousel] .sp-carousel-item .sp-content-outer{padding:7rem var(--sp-container-mobile-padding)}#sp-{{section.id}} [data-plugin=sp-carousel] .sp-carousel-item .sp-content-outer .sp-container{padding-left:0;padding-right:0}#sp-{{section.id}} [data-plugin=sp-carousel] .sp-carousel-item .sp-button-wrapper{margin-top:3rem}#sp-{{section.id}} [data-plugin=sp-carousel][data-show-background-content=true]{--sp-content-spacing: 2rem}#sp-{{section.id}} [data-plugin=sp-carousel] .sp-dots-wrapper{bottom:2rem;padding-left:2rem;padding-right:2rem}}
{% endstyle %}
<script>
!function(){function e(){var e=document.getElementById("sp-{{ section.id }}");if(e){const a=e.querySelector('[data-plugin="sp-carousel"]');var{loading:e="false",loadingTime:t="3"}=a.dataset;const o=a.querySelector(".sp-carousel"),i=(a.querySelectorAll(".sp-carousel-item").forEach((e,t)=>{var{type:a,video:o}=e.dataset;"video_slide"===a&&o&&spRenderVideo(e)}),new Flickity(o,{draggable:">1",freeScroll:!1,pageDots:!0,prevNextButtons:!0,wrapAround:!0,autoPlay:"true"===e&&1e3*parseInt(t),pauseAutoPlayOnHover:!1,adaptiveHeight:!1,watchCSS:!1,initialIndex:0,cellAlign:"left",contain:!0,groupCells:!0,fade:!0,on:{ready:function(){spRenderPagination(o,!0);var e=a.querySelector(".sp-carousel-item:first-child .sp-content-wrapper");e&&e.classList.add("sp-animation-content-fadeIn"),o.querySelectorAll(".sp-carousel-item").forEach((e,t)=>{var{type:a,video:o}=e.dataset;spCalculateIframeVideo(e),"video_slide"===a&&o&&(0!==t?setTimeout(()=>{spPauseVideo(e)},500):(e.setAttribute("data-play","playing"),e.setAttribute("data-mute","muted"))),0===t&&spVideoControlState(e)})}}}));i.on("resize",function(e){var t=i["cells"];t.map((e,t)=>{spCalculateIframeVideo(e.element)})}),i.on("select",function(n){var{selectedElement:e,element:t}=i,e=e.querySelector(".sp-content-wrapper");e&&e.classList.add("sp-animation-content-fadeIn"),t.querySelectorAll(".sp-carousel-item").forEach((e,t)=>{var{type:a,video:o}=e.dataset;"video_slide"===a&&o&&t!==n&&spPauseVideo(e),t===n&&spVideoControlState(e)})}),i.on("change",function(a){var e=i["cells"];e.map((e,t)=>{t!==a&&(t=e.element.querySelector(".sp-content-wrapper"))&&t.classList.remove("sp-animation-content-fadeIn")})})}}window.addEventListener("DOMContentLoaded",function(){e()}),Shopify&&Shopify?.designMode&&e()}(document);
</script>