{% comment %} Variables  {% endcomment %}
{% assign settings = section.settings %}
<style>
    {% comment %}
    Render heading & body font family
{% endcomment %}
{%- if settings.override_font != blank -%}
    {%- capture font_settings_list -%}
        {{ settings.heading_font | font_face: font_display: 'swap' }};;
        {{ settings.heading_font | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }};;
        {{ settings.heading_font | font_modify: 'style', 'italic' | font_face: font_display: 'swap' }};;
        {{ settings.heading_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }}
        {{ settings.body_font | font_face: font_display: 'swap' }};;
        {{ settings.body_font | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }};;
        {{ settings.body_font | font_modify: 'style', 'italic' | font_face: font_display: 'swap' }};;
        {{ settings.body_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }};;
        {{ settings.hightlight_font | font_face: font_display: 'swap' }};;
        {{ settings.hightlight_font | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }};;
        {{ settings.hightlight_font | font_modify: 'style', 'italic' | font_face: font_display: 'swap' }};;
        {{ settings.hightlight_font | font_modify: 'style', 'italic' | font_modify: 'weight', 'bolder' | font_face: font_display: 'swap' }};;
    {%- endcapture -%}
    {%- assign font_array = font_settings_list | split: ';;' -%}
{% endif %}
{%- if settings.override_font != blank -%}
    {%- for font in font_array -%}
        {%- unless font contains 'error' -%}
            {{ font }}{%- endunless -%}
    {%- endfor -%}
    #sp-{{ section.id }} {
    --sp-heading-font-family: {{ settings.heading_font.family }},{{ settings.heading_font.fallback_families }};
    --sp-heading-font-weight: {{ settings.heading_font.weight }};
    --sp-heading-font-style: {{ settings.heading_font.style }};
    --sp-body-font-family: {{ settings.body_font.family }},{{ settings.body_font.fallback_families }};
    --sp-body-font-weight: {{ settings.body_font.weight }};
    --sp-body-font-style: {{ settings.body_font.style }};
    --sp-highlight-font-family: {{ settings.highlight_font.family }},{{ settings.highlight_font.fallback_families }};
    --sp-highlight-font-weight: {{ settings.highlight_font.weight }};
    --sp-highlight-font-style: {{ settings.highlight_font.style }};
    }
    {% if custom_selector != blank %}
        {{ custom_selector }} {
        --sp-heading-font-family: {{ settings.heading_font.family }},{{ settings.heading_font.fallback_families }};
        --sp-heading-font-weight: {{ settings.heading_font.weight }};
        --sp-heading-font-style: {{ settings.heading_font.style }};
        --sp-body-font-family: {{ settings.body_font.family }},{{ settings.body_font.fallback_families }};
        --sp-body-font-weight: {{ settings.body_font.weight }};
        --sp-body-font-style: {{ settings.body_font.style }};
        --sp-highlight-font-family: {{ settings.highlight_font.family }},{{ settings.highlight_font.fallback_families }};
        --sp-highlight-font-weight: {{ settings.highlight_font.weight }};
        --sp-highlight-font-style: {{ settings.highlight_font.style }};
        }
    {% endif %}
{% endif %}
    {% comment %}
    Render padding section, heading content max width
{% endcomment %}

    #sp-{{ section.id }} .sp-section {
    {% if settings.section_top_padding_mobile and  settings.section_bottom_padding_mobile %}
        --sp-section-top-padding: {{ settings.section_top_padding_mobile | divided_by: 10.0 | round: 0 }}rem;
        --sp-section-bottom-padding: {{ settings.section_bottom_padding_mobile | divided_by: 10.0 | round: 0 }}rem;
    {% else %}
        --sp-section-top-padding: {{ settings.section_top_padding | divided_by: 10.0 | times: 0.5 | round: 0 }}rem;
        --sp-section-bottom-padding: {{ settings.section_bottom_padding | divided_by: 10.0 | times: 0.5 | round: 0 }}rem;
    {% endif %}
        }

    @media (min-width: 768px) {
        #sp-{{ section.id }} .sp-section {
            --sp-section-top-padding: {{ settings.section_top_padding | divided_by: 10.0 | times: 0.7 | round: 0 }}rem;
            --sp-section-bottom-padding: {{ settings.section_bottom_padding | divided_by: 10.0 | times: 0.7 | round: 0 }}rem;
        }
    }

    @media (min-width: 1260px) {
        #sp-{{ section.id }} .sp-section {
            --sp-section-top-padding: {{ settings.section_top_padding | divided_by: 10.0 | round: 0 }}rem;
            --sp-section-bottom-padding: {{ settings.section_bottom_padding | divided_by: 10.0 | round: 0 }}rem;
        }
    }


    #sp-{{ section.id }} {
        --sp-section-background-color: {{ settings.section_background_color }};
        --sp-section-background-gradient-color: {{ settings.section_background_gradient_color | default: "null" }};
        --sp-section-text-color: {{ settings.section_text_color | default: "transparent" }};
        --sp-section-border-color: {{ settings.section_border_color | default: "transparent" }};
        --sp-section-border-size: {{ settings.section_border_size }}px;
        --sp-section-border-style: {{ settings.section_border_style }};

        background-color: var(--sp-section-background-color);
        background-image: var(--sp-section-background-gradient-color);
        border: var(--sp-section-border-size) var(--sp-section-border-style) var(--sp-section-border-color);
    }

    #sp-{{ section.id }} .sp-background-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: center left;
        background-repeat: repeat-x;
        display: block !important;
    }

    #sp-{{ section.id }} .sp-announcement-bar-wrapper {
        --sp-navigation-position: {{ settings.navigation_position }}px;
        --sp-navigation-color: {{ settings.navigation_color }};
        --sp-item-font-size: {{ settings.text_font_size }}px;
        --sp-item-text-spacing: {{ settings.text_spacing }}px;
        --sp-item-text-color: {{ settings.item_text_color }};
        --sp-item-link-color: {{ settings.item_link_text_color }};

        --sp-button-font-size: {{ settings.button_font_size }}px;
        --sp-button-text-spacing: {{ settings.button_text_spacing }}px;
        position: relative;
        padding-top: 2px;
        padding-bottom: 2px;
        overflow: hidden;
        z-index: 2;
    }

    #sp-{{ section.id }} .sp-announcement-bar-wrapper .swiper-button-next:after,
    #sp-{{ section.id }} .sp-announcement-bar-wrapper .swiper-button-prev:after {
        --swiper-navigation-size: 12px;
        color: var(--sp-navigation-color);
    }

    #sp-{{ section.id }} #sp-{{ section.id }} .sp-announcement-bar-wrapper .swiper-button-next {
        right: var(--sp-navigation-position);
    }

    #sp-{{ section.id }} .sp-announcement-bar-wrapper .swiper-button-prev {
        left: var(--sp-navigation-position);
    }

    #sp-{{ section.id }} .sp-announcement-bar-wrapper .sp-carousel-item {
        display: flex;
        flex-wrap: wrap;
        column-gap: 15px;
        row-gap: 5px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #sp-{{ section.id }} .sp-announcement-bar-wrapper .sp-carousel-item * {
        font-size: var(--sp-item-font-size);
        letter-spacing: var(--sp-item-text-spacing);
        color: var(--sp-item-text-color);
    }

    #sp-{{ section.id }} .sp-announcement-bar-wrapper .sp-carousel-item a {
        color: var(--sp-item-link-color);
        text-decoration: none;
    }


    #sp-{{ section.id }} .sp-announcement-bar-wrapper .sp-carousel-item .sp-button {
        display: inline-flex;
        width: auto;
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
        border-radius: 6px;
        background-color: {{ settings.item_button_background_color | default:"#1e1e1e" }};
        background-image: {{ settings.item_button_background_gradient_color | default:"null" }};
        color: {{ settings.item_button_text_color }};
        font-size: var(--sp-button-font-size);
        letter-spacing: var(--sp-button-text-spacing);
    }

    @media (max-width: 767px) {
        #sp-{{ section.id }} .sp-announcement-bar-wrapper {
            --sp-navigation-position: {{ settings.navigation_position_mobile }}px;
            --sp-item-font-size: {{ settings.text_font_size_mobile }}px;
            --sp-button-font-size: {{ settings.button_font_size_mobile }}px;

            overflow: unset;
        }

        #sp-{{ section.id }} .sp-announcement-bar-wrapper .swiper-button-next {
            right: calc(-1 * var(--sp-navigation-position));
        }

        #sp-{{ section.id }} .sp-announcement-bar-wrapper .swiper-button-prev {
            left: calc(-1 * var(--sp-navigation-position));
        }
    }

</style>

<link rel="stylesheet" href="{{ 'sp-swiper-bundle.min.css' | asset_url }}">
<script data-id="swiper-bundle" src="{{ 'sp-swiper-bundle.min.js' | asset_url }}"></script>

<div id="sp-{{ section.id }}" class="sp-{{ section.id }} sp-plan-undefined sp-section-announcement-bar-1"
     data-section="announcement-bar-1"
     data-variant="variant-3" data-lazy="sp-{% if settings.lazy_load %}lazy-section{% endif %}">
    <div class="sp-section sp-relative sp-section-overflow sp-section-no-heading"
         data-border="{{ settings.section_border }}">
        {% if settings.background_image != null %}
            <div class="sp-background-overlay"
                 style="background-image: url({{ settings.background_image | image_url: width: 1920 }})"></div>
        {% endif %}
        <div class="{% case settings.section_width %}{% when 'boxed' %}sp-container{% when 'full_width' %}sp-container-fluid{% else %}sp-container-fluid sp-container-no-gap{% endcase %}">
            <div class="sp-announcement-bar-wrapper" data-plugin="swiper"
                 data-auto-play="{{ settings.auto_play }}" data-animation="{{ settings.slide_effect }}">
                <div class="swiper-wrapper">
                    {% assign carousel_items = section.blocks | where: 'type', 'announcement_item' %}
                    {% if carousel_items.size > 0 %}
                        {% for block in carousel_items %}
                            {% assign setting = block.settings %}
                            <div class="swiper-slide">
                                <div id="{{ block.id }}"
                                     class="sp-carousel-item body-font sp-text-{{ settings.text_style }}" {{ block.shopify_attributes }}>
                                    {{- setting.description_text -}}
                                    {% if setting.button_text != blank %}
                                        <a {% if setting.button_link == blank %} aria-disabled="true" {% else %}
                                            href="{{ setting.button_link }}" {% endif %}
                                                class="sp-button sp-text-{{ settings.button_text_style }}"
                                                data-button-hover="{{ settings.button_hover }}">{{ setting.button_text }}</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        {% for i in (1..4) %}
                            <div class="swiper-slide">
                                <div class="sp-carousel-item body-font sp-text-{{ settings.text_style }}">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                                    {% if setting.button_text != blank %}
                                        <a {% if setting.button_link == blank %} aria-disabled="true" {% else %}
                                            href="{{ setting.button_link }}" {% endif %}
                                                class="sp-button sp-text-{{ settings.button_text_style }}"
                                                data-button-hover="{{ settings.button_hover }}">{{ setting.button_text }}</a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                {% if settings.show_navigation == true %}
                    <div class="swiper-button-next"><span class="visually-hidden">Next</span></div>
                    <div class="swiper-button-prev"><span class="visually-hidden">Prev</span></div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% schema %}
{
	"name": "🧩 Announcement bar 1.3",
	"tag": "section",
	"class": "sp-announcement-bar-1",
	"settings": [
		{
			"type": "header",
			"content": "Section settings"
		},
		{
			"type": "checkbox",
			"id": "auto_play",
			"label": "Auto play",
			"default": true
		},
		{
			"type": "checkbox",
			"id": "show_navigation",
			"label": "Show navigation",
			"default": true
		},
		{
			"type": "select",
			"id": "slide_effect",
			"label": "Slide transition",
			"default": "slide",
			"options": [
				{
					"label": "Slide",
					"value": "slide"
				},
				{
					"label": "Fade",
					"value": "fade"
				}
			]
		},
		{
			"type": "range",
			"id": "navigation_position",
			"min": 0,
			"max": 350,
			"step": 5,
			"unit": "px",
			"label": "Navigation position",
			"default": 15
		},
		{
			"type": "range",
			"id": "navigation_position_mobile",
			"min": 0,
			"max": 350,
			"step": 5,
			"unit": "px",
			"label": "Navigation position (Mobile)",
			"default": 15
		},
		{
			"type": "image_picker",
			"id": "background_image",
			"label": "Background image (Optional)",
			"info": "Recommended image size is 1200px x 110px"
		},
		{
			"type": "range",
			"id": "section_border_size",
			"min": 0,
			"max": 15,
			"step": 1,
			"unit": "px",
			"label": "Announcement bar border",
			"default": 3
		},
		{
			"type": "select",
			"id": "section_border_style",
			"label": "Announcement bar border style",
			"options": [
				{
					"label": "Solid",
					"value": "solid"
				},
				{
					"label": "Dashed",
					"value": "dashed"
				}
			],
			"default": "dashed"
		},
		{
			"type": "header",
			"content": "Announcement item settings"
		},
		{
			"type": "range",
			"id": "text_font_size",
			"min": 8,
			"max": 32,
			"step": 1,
			"unit": "px",
			"label": "Text font size",
			"default": 16
		},
		{
			"type": "range",
			"id": "text_font_size_mobile",
			"min": 8,
			"max": 32,
			"step": 1,
			"unit": "px",
			"label": "Text font size (mobile)",
			"default": 16
		},
		{
			"type": "select",
			"id": "text_style",
			"label": "Text style",
			"options": [
				{
					"label": "Normal",
					"value": "normal"
				},
				{
					"label": "Capitalize",
					"value": "capitalize"
				},
				{
					"label": "Uppercase",
					"value": "uppercase"
				},
				{
					"label": "Lowercase",
					"value": "lowercase"
				}
			],
			"default": "normal"
		},
		{
			"type": "range",
			"id": "text_spacing",
			"min": -10,
			"max": 10,
			"step": 0.2,
			"unit": "px",
			"label": "Text letter spacing",
			"default": 0
		},
		{
			"type": "header",
			"content": "Button settings"
		},
		{
			"type": "range",
			"id": "button_font_size",
			"min": 8,
			"max": 32,
			"step": 1,
			"unit": "px",
			"label": "Text font size",
			"default": 16
		},
		{
			"type": "range",
			"id": "button_font_size_mobile",
			"min": 8,
			"max": 32,
			"step": 1,
			"unit": "px",
			"label": "Text font size (mobile)",
			"default": 16
		},
		{
			"type": "select",
			"id": "button_text_style",
			"label": "Text style",
			"options": [
				{
					"label": "Normal",
					"value": "normal"
				},
				{
					"label": "Capitalize",
					"value": "capitalize"
				},
				{
					"label": "Uppercase",
					"value": "uppercase"
				},
				{
					"label": "Lowercase",
					"value": "lowercase"
				}
			],
			"default": "normal"
		},
		{
			"type": "range",
			"id": "button_text_spacing",
			"min": -10,
			"max": 10,
			"step": 0.2,
			"unit": "px",
			"label": "Text letter spacing",
			"default": 0
		},
		{
			"type": "header",
			"content": "Section padding"
		},
		{
			"type": "select",
			"id": "section_width",
			"label": "Content section width",
			"default": "boxed",
			"options": [
				{
					"label": "Boxed",
					"value": "boxed"
				},
				{
					"label": "Full width",
					"value": "full_width"
				},
				{
					"label": "Full width no gap",
					"value": "full_width_no_gap"
				}
			]
		},
		{
			"type": "range",
			"id": "section_top_padding",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Top padding (Desktop)",
			"default": 20
		},
		{
			"type": "range",
			"id": "section_bottom_padding",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Bottom padding (Desktop)",
			"default": 20
		},
		{
			"type": "range",
			"id": "section_top_padding_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Top padding (Mobile)",
			"default": 10
		},
		{
			"type": "range",
			"id": "section_bottom_padding_mobile",
			"min": 0,
			"max": 100,
			"step": 1,
			"unit": "px",
			"label": "Bottom padding (Mobile)",
			"default": 10
		},
		{
			"type": "checkbox",
			"id": "section_border",
			"label": "Separate section with border",
			"default": false
		},
		{
			"type": "header",
			"content": "Effects"
		},
		{
			"type": "checkbox",
			"id": "lazy_load",
			"label": "Lazy load",
			"default": false
		},
		{
			"type": "select",
			"id": "button_hover",
			"label": "Button hover",
			"options": [
				{
					"label": "None",
					"value": "none"
				},
				{
					"label": "Fly",
					"value": "fly"
				},
				{
					"label": "Opacity",
					"value": "opacity"
				}
			],
			"default": "none"
		},
		{
			"type": "header",
			"content": "Announcement bar colors"
		},
		{
			"type": "color_background",
			"id": "section_background_gradient_color",
			"label": "Background gradient color"
		},
		{
			"type": "color",
			"id": "section_background_color",
			"label": "Background color",
			"default": "#ffffff"
		},
		{
			"type": "color",
			"id": "section_border_color",
			"label": "Announcement bar border color",
			"default": "#1e1e1e"
		},
		{
			"type": "color",
			"id": "item_text_color",
			"label": "Text color",
			"default": "#1e1e1e"
		},
		{
			"type": "color",
			"id": "item_link_text_color",
			"label": "Link color",
			"default": "#1e1e1e"
		},
		{
			"type": "color",
			"id": "item_button_background_color",
			"label": "Button background color",
			"default": "#1e1e1e"
		},
		{
			"type": "color_background",
			"id": "item_button_background_gradient_color",
			"label": "Button background gradient color"
		},
		{
			"type": "color",
			"id": "item_button_text_color",
			"label": "Button text color",
			"default": "#ffffff"
		},
		{
			"type": "header",
			"content": "Navigation colors"
		},
		{
			"type": "color",
			"id": "navigation_color",
			"label": "Navigation color",
			"default": "#1e1e1e"
		},
		{
			"type": "header",
			"content": "Typography"
		},
		{
			"type": "checkbox",
			"id": "override_font",
			"label": "Override fonts of the theme",
			"default": true,
			"info": "If you check this option, the fonts of the section will work"
		},
		{
			"type": "font_picker",
			"id": "body_font",
			"label": "Body font",
			"default": "futura_n4"
		}
	],
	"blocks": [
		{
			"name": "Announcement item",
			"type": "announcement_item",
			"settings": [
				{
					"type": "richtext",
					"id": "description_text",
					"default": "<p>Join our Insider List & get 10% off your first order</p>",
					"label": "Item text"
				},
				{
					"type": "header",
					"content": "Button"
				},
				{
					"type": "text",
					"id": "button_text",
					"label": "Button label",
					"info": "Leave the label blank to hide the button."
				},
				{
					"type": "url",
					"id": "button_link",
					"label": "Button link",
					"default": "/"
				}
			]
		}
	],
	"presets": [
		{
			"name": "🧩 Announcement bar 1.3",
			"settings": {
				"auto_play": true,
				"show_navigation": true,
				"slide_effect": "slide",
				"navigation_position": 15,
				"navigation_position_mobile": 15,
				"section_border_size": 3,
				"section_border_style": "dashed",
				"text_font_size": 16,
				"text_font_size_mobile": 16,
				"text_style": "normal",
				"text_spacing": 0,
				"button_font_size": 16,
				"button_font_size_mobile": 16,
				"button_text_style": "normal",
				"button_text_spacing": 0,
				"section_width": "boxed",
				"section_top_padding": 20,
				"section_bottom_padding": 20,
				"section_top_padding_mobile": 10,
				"section_bottom_padding_mobile": 10,
				"section_border": false,
				"lazy_load": false,
				"button_hover": "none",
				"section_background_gradient_color": "",
				"section_background_color": "#ffffff",
				"section_border_color": "#1e1e1e",
				"item_text_color": "#1e1e1e",
				"item_link_text_color": "#1e1e1e",
				"item_button_background_color": "#1e1e1e",
				"item_button_background_gradient_color": "",
				"item_button_text_color": "#ffffff",
				"navigation_color": "#1e1e1e",
				"override_font": true,
				"body_font": "futura_n4"
			},
			"blocks": [
				{
					"type": "announcement_item",
					"settings": {
						"description_text": "<p>Join our Insider List & get 10% off your first order</p>",
						"button_text": "",
						"button_link": "/"
					}
				}
			]
		}
	]
}
{% endschema %}

{% style %}
	
{% endstyle %}
<script>
!function(){function t(){var e=document.getElementById("sp-{{ section.id }}");e&&(e=e.querySelector(".sp-announcement-bar-wrapper"),new Swiper(e,{navigation:{nextEl:".swiper-button-next",prevEl:".swiper-button-prev"},speed:600,loop:!0,effect:e.dataset.animation||"slide",fadeEffect:{crossFade:!0},autoplay:"true"===e.dataset.autoPlay,pagination:!1,slidesPerView:1,autoHeight:!0}))}window.addEventListener("DOMContentLoaded",e=>{t()}),Shopify&&Shopify?.designMode&&t()}(document);
</script>